[2015-04-23 18:53] burningtree opened #1 "License"
Which license to choose for the Constitution?

I think it would be best to choose the least restrictive, so we can choose from these:
- **CC0 1.0** - https://creativecommons.org/publicdomain/zero/1.0/
- **MIT** / **BSD**

I recommend CC0 1.0 because has no requirements.

Good overview of available licenses is here: http://choosealicense.com/licenses/

[2015-04-23 21:35] ohadcn opened #2 "upload translations of the constitution"
The constitution isn't close yet, but some translations of it have already uploaded to the net.
it would be nice to upload them too (here and to [liberland.org](http://www.liberland.org))
Czech translation is already on [liberland.org](http://liberland.org/cz/constitution/)  Hebrew translation can be found on [my fork](https://github.com/ohadcn/liberland-constitution/tree/master/translations), and

[2015-04-23 21:48] ohadcn commented on #1
From MIT license:
'The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.'
We are not dealing with software, but we do not want to force anyone copying the document to include the copyright in it.

[2015-04-24 09:19] burningtree commented on #2
Thanks for translation! Please create Pull Request to new created https://github.com/liberland/translations repository, which now will unite translations.

[2015-04-24 09:19] #2 closed

[2015-04-24 22:51] joshmh opened #5 "Officeholder numbers should be relative to number of citizens"
"The Assembly shall consist of twenty Assembly Representatives."

This number is too high for a population of 100. I suggest about one officeholder for each 3,000 citizens, with a minimum number of 5 representatives.

[2015-04-24 23:01] joshmh opened #6 "How are representatives elected?"
Details of the elections are not provided. Perhaps citizens should be allowed to vote for an ordered list of any citizens, with the results determined by [Single Transferable Vote](https://en.wikipedia.org/wiki/Single_transferable_vote).

[2015-04-24 23:09] cpacia commented on #6
I agree here. Duverger's law has poisoned most electoral systems. To the extend voting is used it should be a transferrable vote like instant runoff voting.

It will have much less of a tendency to coalesce into a two party system.

[2015-04-25 00:52] rossbd commented on #6
Approval voting works too.

In some places, an ordered list allows for election gaming. If the ordering is specified, it should be randomized.

[2015-04-25 01:35] joshmh commented on #6
In my proposal, ordering would be done by each voter. Approval voting is for single winners, whereas here we'd want to choose all assembly members.

[2015-04-25 01:44] rossbd commented on #6
Approval voting can be used for multiple winners: top vote getters win. Same process. When discussed (in the U.S., anyway) it's nearly always in the context of a single winner, because that's how the vote was "designed" long ago.

[2015-04-25 02:51] cpacia commented on #6
I'm less familiar with other voting schemes but I'm pretty sure there isn't any voting strategy that can rig an instant runoff election.

IRV would work for both elections where only a single candidate wins or multiple candidates win.

video: https://www.youtube.com/watch?v=wqblOq8BmgM

[2015-04-25 04:19] joshmh commented on #6
Looks like IRV is a special case of STV and they are equivalent in the case of single winners. It might be worth considering district voting, with one rep for each district, although the district doesn't have to be geographical. For instance, each citizen could be issued a random number token, and a district could be the token modulo the number of districts. A candidate would run in the district o

[2015-04-25 08:30] cpacia commented on #6
Yeah actually I like the idea of voting for all reps (or at least all reps up for elections, assuming not all terms expire at once).

If nothing else it should probably get large exposure for different ideas as people need to learn about more than just two candidates.

[2015-04-25 08:50] cpacia opened #8 "Article 3, Section 6"
I have an objection to this section. Modern governments take a very anti-libertarian position on criminal justice. Just as this section highlights, crimes are treated as crimes against "society" or "all Citizens" instead of whom the crime was actually committed against ― the victim. When criminals are brought to justice, it should not be on behalf of some abstract notion of "society" but rather on

[2015-04-25 20:41] naconner commented on #8
Very valid point. Though what occurs when the victim is incapacitated or killed? Assume the victim has not entrusted Power of Attorney to another agent.

[2015-04-25 21:53] l29ah commented on #1
WTFPL: keeping it simple and stupid.

[2015-04-25 22:13] cpacia commented on #8
Good points. I would say n case of death the victim's family or estate would have the right to prosecute.

There have been some libertarians to suggest this should be a marketable claim subject to homesteading if no one else is available.

For simplicity though you could just have it default to the state as your agent in last resort.

[2015-04-26 05:19] cpacia opened #15 "Jury nullification"
I think it's a good idea to enshrine this principle into the constitution so there is no ambiguity about it.

Section 3.9 reads:

That should extend to juries as well.

[2015-04-26 10:28] tinkyholloway commented on #6
STV would be appropriate if the Assembly is formed from constituencies. Given the size of Liberland wouldn't it be suitable to present the voter with a list of all candidates standing and have them pick one? The Assembly is then filled with the top 20 candidates with the most votes. If fewer than 20 candidates receive votes then the election is invalid.

[2015-04-26 10:34] tinkyholloway commented on #15
What is the advantage of this given that Citizen's can veto legislation in 90 days? Is it that a jury can nullify laws outside this period? Do you mean that as part of their deliberations in a criminal case, a Jury can find some law used by the state during tne trial as invalid?

[2015-04-26 10:52] tinkyholloway opened #16 "Taxes"
Taxes are both a philosophical problem (calling them taxes implies compulsion) and a practical problem (how to stop the PA becoming bigger by looking for problems to fund and fix).

One possible solution is to fund the PA soley by a non compulsory, single value fee each year. The size of the fee must be specified in the Finance Bill. Finance Bills are then subject to veto removing the exception to

[2015-04-26 11:00] cpacia commented on #15
Yeah. Politicians don't exactly have a track record of following the constitution and neither do voters for that matter. Jury nullification is a sort of last line of defense against unjust laws.

If jurors feel the law the defendant is accused of violating is unconstitutional, then they vote not guilty.

[2015-04-26 11:10] cpacia commented on #16
That was more or less my idea as well. Only citizens pay taxes making it voluntary. This would require the legislature to keep taxes very low else people will drop their citizenship.

This would also require a mechanism to allow people to drop citizenship and reclaim it later. And you would want to do it in a way that doesn't create an incentive for people to become citizens right before and elect

[2015-04-26 16:38] joshmh commented on #16
Another possibility is to fund each bill directly. Each bill would have its own budget, defined in the bill. We'll assume all laws are finite in term (https://github.com/liberland/constitution/pull/13), so the funding would be for the entire duration of the bill.

In this scenario, all bills would have to be ratified by the public. If voting is done electronically, each voter would be able to comm

[2015-04-26 16:47] joshmh opened #17 "Consider using Markdown numbered lists for sections"
Using Markdown numbered lists would make it much easier to add and remove sections without needing to renumber everything. It would also dramatically reduce noise in the visual diff. References would be an issue, but I think it's worth the tradeoff.

Example:

[code]

[2015-04-26 16:53] cpacia commented on #16
Now that's clever

[2015-04-26 16:55] joshmh commented on #6
That sounds like a simple special case of STV but there are some problems with it. Voting is a [complex problem](https://en.wikipedia.org/wiki/Voting_system#Evaluating_voting_systems_using_criteria), so I propose we go with a well-studied system that isn't susceptible to the most important failures.

[2015-04-26 17:00] joshmh commented on #8
+1

[2015-04-26 17:08] rossbd commented on #6
There is no perfect voting system, mathematically. No matter what you pick, voting is liable to sum level of gaming. The outside-the-box solution is to prevent what can be voted on at all.

[2015-04-26 17:14] joshmh commented on #6
@rossbd +1

[2015-04-26 17:24] rotilho commented on #17
+1

[2015-04-26 17:27] manchfu commented on #16
And if a law is over budget, it would either get additional voluntary funding or die. It's a crowd-funding/voting hybrid.

[2015-04-26 17:32] naconner commented on #17
Sure beats quills and hemp paper. :+1:

[2015-04-26 19:32] KacperZajc opened #18 "constitutional changes"
list of changes;
Preamble - I didnt change anything (dont know why it shows)
Article 1 §10 - only change of wording
Article 1 §12 - removed the right to decalre war
Article 1 §13  - added the right to block the financial bill in referendum
Article 1 §18-19 - added the right of the supreme court to check the constitutionality of the bill before it becomes a law
Article 2 §4 - no army
Article 3 §4 -

[2015-04-26 19:33] Zephram-C commented on #1
Other Licenses would mean always including *License and copyright notice* in Constitution. Therefore I am for CC0 1.0 too.

[2015-04-26 19:45] rotilho commented on #18
It would be great to see these changes in individual commits

[2015-04-26 20:02] Zephram-C commented on #5
This could lead to fluctuation in the number of officeholders. If population decreases who shall be removed? If it increases does it always mean new elections?

[2015-04-26 21:06] burningtree commented on #18
@rotilho It's in the past, let's focus on the future. Every changes from now will be in individual commits.

[2015-04-26 22:25] joshmh commented on #5
The adjusted number would apply at the next elections.

[2015-04-26 22:26] joshmh commented on #18
+1 Even better would be individual pull requests, with a comment period of a few days, at least.

[2015-04-26 22:27] joshmh commented on #1
+1

[2015-04-27 07:05] fare opened #19 "Sanctions for bad law proposals"
If there is no sanction for people proposing bad laws, then they can keep proposing them until they are voted in. The late Athenian democracy had to institute rules punishing people who proposed bad laws.

[2015-04-27 07:17] fare opened #20 "Self-limiting laws"
Laws should include rationale and a duration limit.

Rationale: anyone can contest in court that the official rationale is not met and thereby nullify the law.

Duration limit: Ideally, every law should be renewed by every legislature after being read in its entirety. No one would be able to vote unless they had been physically present, and mentally present (no cell-phone, laptop, book, etc., allo

[2015-04-27 07:24] fare commented on #20
Requiring an explicit rationale for any law also allows for nullification if the rationale is found to be unconstitutional.

But really, why have a legislature at all? Why preserve this myth that man can make laws?

[2015-04-27 09:23] tinkyholloway commented on #16
That is a great idea. A nominal percentage could be used for overhead such as keeping the office lights on at the assembly - assuming bricks and mortar exist - I'd be happy to have the Assembly, Cabinet, and Departments work out of a Starbucks.

[2015-04-27 09:29] tinkyholloway commented on #20
I like the idea of having to read the Bill aloud. Anything that makes introducing legislation burdensome is probably a good idea.

[2015-04-27 09:33] tinkyholloway opened #21 "Patents, trademarks, copyright"
You can be sure selling out to the MPAA will be an early trade for some treaty.

It does seem to be a big objectivist vs anarchist point of difference (beyond the obvious). What are the main views held here on this topic?

[2015-04-27 17:14] joshmh commented on #16
Even the funding for the Assembly would need to be a bill that expires. They'd need to put enough money into the bill to keep the lights on for the term of the bill. If they don't get it, no lights.

@cpacia I'm interested in exploring how this could merged with your polycentric cantons idea. Fancy words and restrictions can never keep power in check, we need to fundamentally distribute the power.

[2015-04-27 17:42] KacperZajc commented on #20
I agree:
any Bill should be read aloud
and it should include rationale for it
but there are not issues to be put in the Constitution, we make it through ordinary laws

[2015-04-27 17:43] KacperZajc commented on #20
but we need Legislature to be treated seriously by other state otherwise we wont get recognised

[2015-04-27 17:44] KacperZajc commented on #19
impossible to put into practice, sorry

[2015-04-27 17:44] #18 closed

[2015-04-27 17:45] #15 closed

[2015-04-27 17:46] #8 closed

[2015-04-27 17:47] KacperZajc commented on #6
this was left undecided on purpose, because I would be easier to qualify the rules though ordinary laws, I didnt know what kind of electoral system we wanted, it is open to debate.

[2015-04-27 17:48] KacperZajc commented on #21
My team is currently working on intellectual property laws, please I am open to your suggestions what those laws should look like?

[2015-04-27 18:10] cpacia commented on #21
I'm pretty solidly against intellectual property laws there's both a pretty strong philosophical case and economic case against such laws. And I'm under the impression that a majority of professional economists would not enact intellectual property laws if the could do it over.

Some reading:
[Against Intellectual Property](https://mises.org/library/against-intellectual-property-0) Makes a strong

[2015-04-27 18:11] cpacia commented on #21
To the extend such laws exist, they definitely should not be enshrined in the constitution, but rather should be a normal bill subject to a vote.

[2015-04-27 18:12] KacperZajc commented on #21
of course I am now talking about ordinary laws

[2015-04-27 18:14] burningtree commented on #21
It would be nice if the discussion of the ordinary law moved into the repository designated for that purpose:
https://github.com/liberland/laws , issues - https://github.com/liberland/laws/issues

[2015-04-27 18:17] cpacia opened #22 "Commits should be reviewed and discussed prior to merge."
That's why this constitution is on github is it not?

You've removed maybe the best line in the entire constitution without any discussion:

If you continue on that path, many people are going to be turned off to the project.

[2015-04-27 18:22] KacperZajc commented on #22
I did this before I was showed GitHum and here is why:
this line sounds great, I know, but it is too broad, really too broad -
it might be later used to prevent any sorts of regulations we might need for example due to international agreements we will need to sign, it would prevent
for example mandatory vaccination (Im not saying we want one, I dont know what is the president's stance of this?)
it

[2015-04-27 19:01] cpacia commented on #22
You guys are not from the United States. Those of us who live here have witnessed the world's best attempt to limit government with a constitution fail miserably.

What happens in practice is the politicians look for even the slightest loophole and exploit it. The lesson to be learned is that it is far better to be too strict then to be too broad in language.

If the international agreement violat

[2015-04-27 19:08] KacperZajc commented on #22
how will you lay pipes under sb's property if he doesnt consent? then half of Liberalnd wont have running water?

if we classify foetus as a person then no abortion whatsoever will be allowed, and that is not something we want either.

vaccines and sugar are completely different - lack of the former endangers others, excessive use of the latter harms the user only

I am not your enemy here, I am t

[2015-04-27 19:16] manchfu commented on #22
I agree with @cpacia , that is a vital part of the constitution that cannot simply be deleted without solid intellectual argument.

If you pass a constitution that allows the state to regulate people's lives right off the bat, that will be the failure.

You won't lay pipes under someone's property if they don't want them, you also won't be able to destroy their home and build skyscrapers if they r

[2015-04-27 19:20] KacperZajc commented on #22
please move this discussion to pull request so we dont have 2 parallel disputes

[2015-04-27 19:23] joshmh commented on #22
+1 on centering discussion around small pull requests.
+1 on putting any proposed change into a pull request.
+1 on allowing discussion and consensus before merging a pull request.

[2015-04-27 19:25] cpacia commented on #20
If you make that an ordinary law, they will just change it when they find it inconvenient.

[2015-04-27 19:26] KacperZajc commented on #20
you cannot put into constitution every detail you like otherwise all laws would be written in one constitution

[2015-04-27 20:17] Zephram-C commented on #19
What is a bad law? We have general right of veto by the Citizens.
Currently: §13(1)  Any Bill vetoed by the Citizens in the referendum shall be considered void and shall not be revived for at least a year.
This seems good enough mechanism. Maybe a year is too long, maybe too short. But *forever* would be too long. Situation and priorities can change and bad law can become good law. Law conflicting

[2015-04-27 20:24] cpacia commented on #20
You put in it things you want to be permanent or at least very difficult to change (high barrier to amendment).

If you just make a law saying, "All laws will sunset". The next legislature will have no problem reversing it at the first chance they get.

[2015-04-27 20:25] Zephram-C commented on #5
Hmm, could still lead to "strategic" changes of population just before elections. (Especially if citizenship can be online.)
But thinking about the right number, I was thinking that perhaps odd number (or prime number) of representatives would solve tie-situations and give clear majorities..

[2015-04-27 20:42] Zephram-C commented on #8
What happens when someone kills (or first steals property of, and then kills) familyless person? So there is no one left to indemnify, but basic law was violated. Should this be marketable claim?

[2015-04-27 21:27] KacperZajc commented on #20
I dont think laws should be subject to sunset, I believe any Bill should be read aloud and it should include rationale for it and these requirements should be put in ordinary laws

[2015-04-27 21:41] cpacia commented on #20
You've heard of the expression...

Bad laws are almost never repealed. This is how you end up with millions of pages of laws on the books. More than you can read through in your lifetime.

By sun-setting them, the public get to decide if a bad law is worth renewing. This should get rid of 90% of junk from the books.

[2015-04-27 21:44] KacperZajc commented on #20
I know, but we would make all public and criminal laws subject to that as well and we dont want to do this because these laws be stable.
Your idea would be good to include in all the other laws we will pass as a last paragraph.
Plus, the government of Liberland wont have all those functions you are afraid of so you would mainly make the necessary laws sunset.

[2015-04-27 21:48] fare commented on #20
If the law is good, it will be read once every four years, no discussion. If the law is bad, it will disappear as people can't stand to quibble over it every four years. If every law sunsets after five years (leaving time for the next legislature to renew it), that's perfect. If it is so essential that it really needs to not sunset, amend the constitution to include it.

[2015-04-27 21:49] fare commented on #20
This issue should probably be made into three different issues.

[2015-04-27 21:53] fare opened #25 "All laws should sunset by the end of next legislature"
The next legislature should have time to renew the law.

Good laws that everyone agrees with will be renewed every time. Bad laws that require bickering will consume a finite pool of bickering resources, ensuring a finite amount of bad laws that can't accumulate with time.

[2015-04-27 21:53] fare commented on #25
(This issue is split from #20)

[2015-04-27 21:56] fare opened #26 "A "yes" vote for a law shall include reading the law in its entirety"
All yes-men can read together in choir during the ballot.

This ensures that laws can't be too long, and that legislators can't vote on something they haven't read.

If everyone must know the law, the law better be readable by everyone. If it's not even readable by legislators, it's obviously not worth to be a law.

[2015-04-27 21:56] fare commented on #26
(This issue is spilt from #20)

[2015-04-27 21:58] KacperZajc commented on #26
I agree with this one, although I wouldnt put it in the constitution, mere provision in public law would suffice

[2015-04-27 22:01] fare opened #27 "Every law needs include an explicit rationale"
And citizens can sue and nullify the law if its rationale fails to hold, is not valid anymore, if the desired effect isn't achieved by the law, etc.

This makes it harder for laws to be remain on the book when they utterly fail at what they claim to do and are actually a way to subsidize special interests through their "unintended consequences".

[2015-04-27 22:01] fare commented on #27
(This issue is split from #20)

[2015-04-27 22:03] fare commented on #19
In Athens, if the vote gathered fewer than 25% of ballots or so, its promoter was fined.

If we further require all laws to include a budget limit, the fine could be made proportional to the required budget.

[2015-04-27 23:40] cpacia commented on #26
@KacperZajc i'll keep harping on this. If it's optional (which is what making it an ordinary law mean) they wont do it.

In the US there was a massive public outrage when people found out that politicians were insider trading and profiting from knowledge of not-yet-introduced bills. For example, they would buy up land that was very cheap, then pass a law to re-zone it, and sell it for a huge profi

[2015-04-27 23:51] KacperZajc commented on #26
I dont see why it is so important but I agree with the idea so OK let's put it in along with the requirement to include rationale for the Bill:

No Bill proposed to the Assembly shall be passed unless it has been read aloud by the Assembly Speaker and includes rationale behind it.

???

[2015-04-27 23:53] #22 closed

[2015-04-27 23:54] cpacia commented on #26
Yeah I would agree with that.

The reason all these little things are important, however, is because politicians notoriously don't follow the constitution. And they appoint judges who think like them and wont require them to follow the constitution.

[2015-04-27 23:56] cpacia commented on #27
+1

[2015-04-27 23:56] KacperZajc commented on #26
make it a pull then and add the sentence somewhere in the Legislative Restrictions part of the Bill of Rights

[2015-04-27 23:56] cpacia commented on #25
+1

[2015-04-27 23:57] joshmh commented on #27
+1

[2015-04-27 23:57] KacperZajc commented on #25
I still cant agree with this one sorry.

[2015-04-28 00:03] fare commented on #25
If you think stability is important, have the sunset be two legislatures plus one year instead of one legislature plus one year — this way, laws that require stability can have a longer horizon.

I think it is very important to have a mechanism to prevent the accumulation of bad laws, cruft, etc., anything that will make "no one shall ignore the law" a bad joke. Automatic sunset, forcing legislato

[2015-04-28 00:29] tinkyholloway commented on #5
You could make it that franchise be available only to those who have held citizenship for at least one Assembly term.

[2015-04-28 00:29] KacperZajc commented on #5
Vit said it should be 20, let it be 20 for now

[2015-04-28 00:31] KacperZajc commented on #5
the constitution is to be adopted after the first general election and there will be no election with 100 people only

[2015-04-28 00:34] tinkyholloway commented on #16
@joshmh right on.

[2015-04-28 00:39] tinkyholloway commented on #19
I don't like the idea of the state punishing people. In this case however only the Cabinet can initiate legislation on which the Assembly needs to pass before allowing citizen veto. I'd be happy to keep the Assembly tied up debating and rejecting crap laws. The Assembly has the power to remove Cabinent members so I would see this as good enough feedback on low quality legislation being introduced.

[2015-04-28 00:40] KacperZajc commented on #19
I agree with @tinkyholloway

[2015-04-28 00:47] tinkyholloway commented on #20
@KacperZajc not having the criminal code sunset, was one area of concern I had when I suggested sunset. Solution might be to create an exception for criminal code. Or the Assembly would have criminal code all inside a Crimes Act as some countries do, then provided the contents are reasonable, the refresh should be simple. If the contents are controversial then perhaps there is good reason they don

[2015-04-28 00:50] KacperZajc commented on #20
I think the way to go is to restrict the areas they can legislate on thereby making the laws passed necessary - and we dont want necessary laws to expire or change substantially every 4 years. I understand we want very few laws and I agree but we also want them stable and predictable - what kind of message do we send to our citizens if they dont know whether all laws wont change in 4 years???

[2015-04-28 01:14] tinkyholloway commented on #25
@KacperZajc I really think this is important. Please list your concerns and allow an opportunity to convince you of the merits and allay your fears.

[2015-04-28 01:15] KacperZajc commented on #25
we need stable laws, we need law that people now, we need to be predictable, how will you teach lawyers what the law is if it change change entirely every 4 years? not to mention that normal people dont have time to track all laws all the time because they all can change at once.

Our international partner have to know we are predictable, that we wont change the whole system every 4 years.

i unde

[2015-04-28 01:16] tinkyholloway commented on #27
If sunset #25 #13 were required, this would be covered, no? If not can you help to explain the difference.

[2015-04-28 01:18] KacperZajc commented on #27
#28

[2015-04-28 01:33] fare opened #29 "Renumbering"
The bill of rights is long and divided in many parts, which makes introducing new items hard, because it requires re-numbering everything.

What about:
1- Including article number in every item, such as I.10, I.10(40), etc.
2- Dividing the bill of rights into as many articles.
3- Putting the bill of rights FIRST instead of LAST.

[2015-04-28 01:36] KacperZajc commented on #29
3 - I would never think of that but I love it!
1,2 - it is divided into 3 parts which I think makes sense but we can start numbering from the beginning in ever part if that helps?

[2015-04-28 01:42] KacperZajc opened #30 "amendments so far"
Can we all agree on the following amendments (???):

- for rationale and public reading:

No Bill proposed to the Assembly shall be passed unless it has been read aloud in entirety by the Assembly Speaker and includes precise calculation as to its potential impact on the budget as well as rationale behind it and means of achieving thereof, which does not conflict with the Constitution.

- for self

[2015-04-28 02:04] #25 closed

[2015-04-28 02:04] fare commented on #25
This is a duplicate of #13

[2015-04-28 02:05] #26 closed

[2015-04-28 02:05] #27 closed

[2015-04-28 02:06] #19 closed

[2015-04-28 02:06] fare commented on #20
This issue has been separated into #25 (actually duplicate of #13), #26 and #27. Closing this one.

[2015-04-28 02:06] #20 closed

[2015-04-28 02:09] #21 closed

[2015-04-28 02:15] fare commented on #25
There is no reason to believe that good laws that people expect to still be there would be voted down when set for renewal. Renewal should not require a referendum, but still a vote by the legislature and a complete reading, which ensures uncontroversial laws can be renewed quickly whereas bad laws don't last too long.

If you want a law to last long (1) make it short, (2) make it uncontroversial,

[2015-04-28 02:15] fare commented on #25
Dammit, should have written that on #13. Copying...

[2015-04-28 02:36] KacperZajc commented on #30
can someone make a pull request out of this?

[2015-04-28 02:37] #29 closed

[2015-04-28 02:43] fare commented on #30
That shall be separate pull requests.

[2015-04-28 02:44] KacperZajc commented on #30
make it separate then

[2015-04-28 02:59] fare commented on #30
If you already know what you want, you can modify the file yourself without having to have a pull request.

[2015-04-28 03:26] fare opened #35 "Get a constitutional scholar to review the document"
Before the document is finalized, someone with a serious degree or pedigree in constitutional law (or better, comparative constitutional law) shall review it. And that's not me.

With a bit of chutzpah, maybe you can get Randy Barnett involved...

[2015-04-28 04:23] manchfu commented on #30
@fare Some of us have requested that all changes be pull requests for the sake of transparency and open discussion.

[2015-04-28 04:58] hazzik opened #36 "Citizenship?"
I think that constitution shall define following regarding the citizenship:

1. How the citizenship can be obtained.
2. How a person can renounce his/her citizenship.
3. That no one can lose their citizenship for whatever reasons.
4. Dual/trial/etc citizenship?

[2015-04-28 05:00] KacperZajc commented on #36
3 there was such a provision but the President said we would like to deport people for breached of the law so I removed it

[2015-04-28 05:02] hazzik commented on #36
@KacperZajc then we need to make an exception "only by court"?

[2015-04-28 05:03] KacperZajc commented on #36
ok we can do that

[2015-04-28 05:04] KacperZajc commented on #36
No person shall be deprived of his or her citizenship otherwise than by a court of law.

[2015-04-28 09:25] tinkyholloway commented on #30
I can do them in 16 hours.

[2015-04-28 11:36] rotilho commented on #17
I changed my mind. It would be a problem when a item refers another one.

[2015-04-28 14:19] KacperZajc opened #38 "introduced changes"
have a look guys, I introduced some changes we discussed yesterday:

- No person shall be deprived of his or her citizenship otherwise than by a court of law.
- No law shall abridge the right of persons to the control of their own bodies and property, nor interfere with voluntary consensual or contractual relations among adult persons, or the right to form cooperative ventures of any kind so long

[2015-04-28 14:19] #36 closed

[2015-04-28 14:19] #30 closed

[2015-04-28 20:51] joshmh commented on #17
Yeah, I agree that references are a problem. Since I think improving PRs will have a huge effect on everyone's participation, I'm going to keep stabbing at this.

Perhaps we could try a simpler approach:

All new additions in a pull request should be written as the last item in the section, regardless of whether it would make more topical sense to group it with items higher up. We can then all dis

[2015-04-28 21:24] joshmh opened #40 "Consent of the governed"
This, for me, is the heart of the constitution. The [latest draft](https://github.com/liberland/constitution/pull/39) reads:

That's a very powerful statement *if* it means that the government only has power over an individual if that person has explicitly consented to the authority. If it doesn't mean that, it strikes me as empty rhetoric of the kind that makes existing constitution nearly worthl

[2015-04-28 21:28] KacperZajc commented on #40
As I wrote it I assumed that it meant that everyone who lived within the territory of Liberland consented - if you do not consent move out. I dont see any other way to put this sentence into practice,

Btw, what do you think about the whole preamble as it sounds now?

[2015-04-28 21:36] #38 closed

[2015-04-28 21:37] #5 closed

[2015-04-28 22:07] cpacia commented on #40
Your answer still suffers from one of the major philosophical problems that everyone else has encountered with that statement. If liberland (or any country) was in fact private property owned by a single individual, then it would be appropriate to say move or get out, because the owner has a right to determine the rules of his property.

Modern states (either implicitly or explicitly) claim owners

[2015-04-28 22:11] hazzik commented on #36
@KacperZajc what about 1, 2, and 4?

[2015-04-28 22:11] burningtree commented on #17
@joshmh ad rules - If you could prepare a some foundation guidelines for contributing and PRs to CONTRIBUTING.md file it would be cool. It seems that you have an good idea about it. These future rules can also be used in "laws" repo.

[2015-04-28 22:12] joshmh commented on #40
I commented separately in the other issue: https://github.com/liberland/constitution/pull/39

I think it's disingenuous to use *consent* in that way, even though it has a tradition in political philosophy. According to the dictionary, consent means, "to give permission for something to happen." Since when does living somewhere mean you're giving permission for something to happen? What if I live i

[2015-04-28 22:20] KacperZajc commented on #40
Inasmuch as I like your theoretical approach @cpacia I dont see how would it be possible to distinguish between people consenting and having rights and those who dont consent and have neither rights nor duties.

We cant produce an instrument which would be overcomplicated - quite the opposite. From the start I meant to write as simple as it gets so that ordinary people will be able to understand t

[2015-04-28 22:29] KacperZajc commented on #36
I leave for ordinary laws to specify; we even dont know any details at this point

[2015-04-28 22:40] hazzik commented on #36
Ok, I'll create an issue in https://github.com/liberland/laws

[2015-04-28 22:44] joshmh commented on #17
:+1:  Good idea, I'll do that.

[2015-04-28 22:44] hazzik commented on #36
But I still think that constitution shall say that these questions are regulated by a law

[2015-04-28 22:53] joshmh commented on #40
Very well put, I'm in complete agreement.

I don't agree that @cpacia's cantons idea is more complex than the current version. Stated simply, it just means that citizens are free to choose their own canton, much like citizens in the US are free to choose their own state. There are three key differences, all easy to comprehend:

1. You have to move to another place to change your state, you can cha

[2015-04-28 23:25] JesseKPhillips opened #41 "Bill of Rights should be written positively"
Currently the Bill of Rights is written in a negative tone, thus never establishing rights of the People.

As an example, "No ex post facto law shall be passed." can be rewritten as, "A right of the people to know that laws will not change once enacted."

[2015-04-28 23:37] hazzik commented on #41
Not related to the issue itself, but "No ex post facto law shall be passed." is not equal to "A right of the people to know that laws will not change once enacted."

[2015-04-29 00:36] tinkyholloway commented on #40
I like the idea of the polycentic cantons. Some questions:

1) why wouldn't they each just turn into social utopian paradises as they each try to out bid each other for members by providing 'free stuff'? That may be abhorrent to founding members, but our kids and their kids will forget about freedom and be tempted by tne dark side of social progressivism.

2) how might disputes involving parties o

[2015-04-29 01:06] joshmh commented on #40
1. Cantons have to raise their own taxes. Since one can move so freely between cantons and since it's easy to start a new one, these are more like membership dues. The more services a canton supplies, the higher the taxes will have to be. This is analogous to insurance companies.

2. Good question. There's a whole section on that in @cpacia's [constitution](https://chrispacia.files.wordpress.com/2

[2015-04-29 01:25] #17 closed

[2015-04-29 02:03] JesseKPhillips commented on #41
@hazzik I think you'll find that the difference is minor and if you think about it irrelivant and undesirable. The value of this exersise is to think about what is being protected. I hope to find time to draft a more appropriate foundation, but expect rejection and only hope to bring forward considerations.

[2015-04-29 02:23] hazzik commented on #41
The sentences are completely orthogonal to each other. "No ex post facto law shall be passed." says that laws shall not change [retroactively](https://en.wikipedia.org/wiki/Ex_post_facto_law), eg. you can not make a law and judge something what happened before that law has made up.

Yours "A right of the people to know that laws will not change once enacted." says that laws will never change, and

[2015-04-29 04:36] KacperZajc commented on #41
"No ex post facto law shall be passed."  is English for 'lex retro non agit' (latin for 'the law does not work back').
"A right of the people to know that laws will not change once enacted." is something completely different and tbh ridiculous.
Bill of Rights should be in negative tone, because it says what the government cannot in terms of legislation. When it talks about individual rights, it is

[2015-04-29 04:51] KacperZajc commented on #40
so what's the decision here guys?
we go with 'consent of the governed' or we go with 'attempting a harmonious consensus for the benefit of all those seeking their home in this place'
or sth completely different?

[2015-04-29 09:30] tinkyholloway commented on #41
I agree with @KacperZajc, inverting the negative sense changes the meaning. I think leaving the sense as they are is much less ambiguous.

[2015-04-29 14:14] joshmh commented on #40
Let's take a few more days to consider this. I encourage anybody reading this to weigh in with their thoughts. I'm going to think about it some more, as well.

[2015-04-29 16:53] Zephram-C commented on #41
I agree that negative sense is more precise and specific.

[2015-04-29 23:46] KacperZajc opened #44 "Graphs"
I made some graphs explaining the check and balance system and the legislative procedure under this Constitution. I think we should publish some graphic explanation when we update the Constitution on the official website to help people understand the whole idea.

Please feel free to prepare something better, I am not good with visual effects... :)

![](https://raw.githubusercontent.com/liberland/c

[2015-04-30 00:46] #41 closed

[2015-04-30 00:47] KacperZajc commented on #40
any one wants to contribute?

[2015-04-30 01:31] JesseKPhillips commented on #41
You're correct, I did misunderstand what I was reading. I do find it interesting that you all gave up claiming it isn't possible to write down what right is being protected. Have you considered something to the affect of, "The right of the people to have their crime and punishment determined at the time of conviction; new crimes and increased punishments will not be retroactively applied." You'll

[2015-04-30 08:29] pmacom commented on #16
Has there been any consideration into utilizing an existing or customized cryptocurrency for any of this? I know that most people are only familiar them as a currency, however at the core, each cryptocurrency is really just a permanent public ledger.

The "ledger" is what is important, not the currency. Almost any cryptocurrency's blockchain could theoretically keep a record of each bill's donors

[2015-04-30 17:07] NateBrune commented on #40
I'm confused. What is the issue with all citizens and residents of liberland implicitly concenting to its laws? If they it is wrong to imply concent because residents are living in liberland than

We ... do ordain and establish the Constitution of the Free Republic of Liberland, attempting a harmonious consensus for the benefit of all those seeking their home in this place.

seems to be negated. I

[2015-04-30 19:53] joshmh commented on #40
@NateBrune, my argument is that implicit consent doesn't make sense, all the more so if a citizen *explicitly* declares that he's not consenting. It still makes sense to claim that we're attempting a harmonious consensus. I believe we're all trying our best to affect the best consensus we can. We're not claiming anything stronger than that.

[2015-05-01 04:23] burningtree commented on #44
New version

![](https://raw.githubusercontent.com/liberland/constitution/master/diagrams/elections-and-impeachment-flowchart.png)

![](https://raw.githubusercontent.com/liberland/constitution/master/diagrams/legislative-procedure-flowchart.png)

[2015-05-01 04:50] hazzik commented on #44
I think that Citizens shall have rights to submit a bill or proposal through referendum/petitions.
Also Citizens shall have rights to dismiss current laws through referendum.

[2015-05-01 05:14] tinkyholloway commented on #44
@hazzik there is a proposed change being worked on that would allow citizens to dismiss laws at least every 8-10 years #13.

My view is that the fewer laws there are the better and that in principle citizens should treat thr Public Administration like a legislation generator, while the citizens hold approval authority being able to get rid of officers and laws.

[2015-05-01 06:15] KacperZajc commented on #40
ok guys we are asked to hurry up with updating the Constitution, we need a decision here on the Preamble

[2015-05-01 10:21] #1 closed

[2015-05-01 10:50] NateBrune commented on #40
In my opinion, if a citizen *explicitly* declares that they are not consenting, it means nothing. In my county, if I explicitly declare that and then rob a house, I am still going to jail. I understand the *who are we to do such a thing* argument, but I dont think its so. If you wish to become a citizen in liberland, than you must follow its rules. I dont think that they should be evicted, just su

[2015-05-01 15:20] ericalston commented on #35
I have a significant pedigree in comparative constitutional design, and would love to get involved. I have nowhere near the stature of a Randy Barnett, but by that same logic, it would require minimal to no chutzpah to obtain my involvement...

[2015-05-01 16:05] rotilho commented on #35
+ericalston

[2015-05-01 19:11] joshmh commented on #40
There's a difference between subjecting someone to your rules, and claiming that he's consenting to being subject to your rules. Which is why I don't think we should claim people are consenting to these rules, when they themselves say they aren't. If someone robs a house, they will be dealt with whether they've consented or not.

[2015-05-01 20:52] KacperZajc commented on #40
see #39 for conclusions

[2015-05-01 20:53] #40 closed

[2015-05-02 00:06] liberty90 opened #49 "Maybe we should simplify the preamble, and emphasize liberty more ?"
Current preamble is almost directly, with very small changes, copied from the US constitution. We all know how US constitution is currently interpreted... for example, "justice" is very relative and can be easily hijacked by interventionist agenda.

What do you think about shorter and simpler version ?

For example:
"We, the Citizens of the Free Republic of Liberland, hereinafter, "the Citizens",

[2015-05-02 02:36] burningtree opened #51 "Internet Freedom"
What about internet freedom? Nowadays the Internet is a basic human need and every citizen should have guaranteed uncensored and private access to it. In future decades, on the Internet will be absolutely everything and who will control access to it will have more and more power.

I see a danger especially in small shifts, masquerading often as "fighting agains evil" anti-[something], like anti-po

[2015-05-02 04:43] tinkyholloway commented on #51
How do you think this needs strengthening beyond protecting thr private property of ISPs and their and their customers freedom to enter into contract?

[2015-05-02 05:13] tinkyholloway commented on #49
@liberty90 We seem to have a full range of from conservative to randian to rothbardian. Occassionally you'll see some poor well intentioned socialist wander in completely lost.

I too would gain some help in understanding where on the spectrum the vision for Liberland is. At the moment it appears to me to be around randian perhaps a little towards rothbardian depending on the day and topic being d

[2015-05-02 06:48] KacperZajc commented on #51
I like the idea to put a safeguard for this:

No law shall regulate the rules regarding accessing any part of the content of the Internet by adults; nor shall it regulate the rules regarding uploading and/or displaying any materials other than pornography involving minors.

what do you think?

[2015-05-02 15:51] Zephram-C opened #52 "Ideological foundation consolidation?"
First, I must say that I have not followed *all* issues, pull requests and discussions thoroughly.
However, I have feeling that some ideological framework or basic guidelines are urgently needed. Otherwise much effort and work will be done resulting in something incompatible with Liberland´s president&founding group intentions. And subsequently (yet revocably) thrown away.
So is there something li

[2015-05-02 16:02] Zephram-C commented on #51
@burningtree: *Internet is a basic human need and every citizen should have __guaranteed__ uncensored and private access to it*
This seems like positive right to me. Internet access can not be guaranteed nor the parameters of the service (including censorship, speed diferentiation), provided by private ISPs, forced.

@KacperZajc: *...other than pornography involving minors.*
This is unnecessary ex

[2015-05-02 16:12] KacperZajc commented on #51
we need this exception, we can formulate it in different terms though, any ideas?

[2015-05-02 16:12] Zephram-C commented on #49
Yes, I think the spectral classification of vision is very important. I started special (more broad) [issue #52](https://github.com/liberland/constitution/issues/52) about this.

As to the simplifying... I believe it should not be shortened, because this is exactly the part where Constitution also have to be "beautiful" (familiar, specific, inspiring, informative even for people not fully understa

[2015-05-02 16:25] Zephram-C commented on #51
Actually, I think that the whole safeguard is unnecessary and potentially dangerous.

_... nor shall it regulate the rules regarding uploading and/or displaying any materials ..._
What about copyrighted material? What about closed-source and confidential information? Even if we omit intellectual property debate, let's stay with less controversial contract between two people. One providing some ele

[2015-05-02 16:33] Zephram-C commented on #16
@pmacom > * Almost any cryptocurrency's blockchain could theoretically keep a record *
It should be cryptocurrency with robust network and high total hashrate.

Idea of directly funding bills is nice. It combines voluntary taxes idea with practical realization of citizenship.

[2015-05-02 16:45] joshmh commented on #51
I'm also concerned that this document is turning into a laundry list of prohibitions for the legislators. I really think this constitution has to be grounded in a simple philosophy, and it has to create a structure with a distributed balance of power and a strong consensus. As soon as a few individuals are able to amass power, they will figure out how to bypass any prohibition. The more individual

[2015-05-02 16:45] joshmh commented on #16
Yeah, this kind of thing is my best hope for keeping the government in check. Money talks.

[2015-05-02 16:49] burningtree commented on #51
@Zephram-C I do not want to regulate private ISP, but the government and legislators.

I see the problem of gradual tightening the loop through legislation. I just wanted to draw attention to this problem, whether it could be addressed in the constitution.

[2015-05-02 17:11] KacperZajc commented on #51
Ok let's not go down this road, no provision for the Internet freedom

[2015-05-02 20:30] Zephram-C commented on #51
Reopening.
After some discussion, I realized that Internet access might be one of the essential things for the state to function. As we are not anarchocapitalists, we already acknowledge need of some "positive rights", that is state provides and guarantees eg. laws, citizenships, some enforcement of security, §35.
Historically this debate between anarchists and minarchists did not include Internet

[2015-05-02 20:33] KacperZajc commented on #51
I can get on board with this:
No law shall limit the access to the Internet by adult individuals, unless the realization of such access violates property rights of the other person.

This is too vague and doesnt sound too libertarian:
No citizen shall be precluded from using communication means necessary for effectively realizing his voting rights, right to fair trial, or right to other indispensa

[2015-05-02 20:47] Zephram-C commented on #51
Sorry, bad references. Three §, now strokentrough should be. §III.1, §III.7, §III.11, §III.12.
I know that it is not too libertarian, I just thought about something like current:
**§III.12.** An accused who does not speak the language in which the criminal proceedings are conducted shall be provided without expense with the services of an interpreter.

Perhaps last sentence *Minimal neccessary...*

[2015-05-02 20:48] KacperZajc commented on #51
I doubt a proper trial can be conducted online. I dont see any connection between those rights.

[2015-05-02 20:59] Zephram-C commented on #51
We shall give it some time and gather some other insights.

The connection would be:
**§III.12.** An accused who does not speak the language in which the criminal proceedings are conducted shall be provided without expense with the services of an interpreter.

**§III.??.** *Citizen* who does not *have means* in which *the elections/trial/referendum* are conducted shall be provided without expense

[2015-05-02 21:01] KacperZajc commented on #51
this is socialism my friend ...
right to an interpreter is inherent to a due process of law which is crucial because there is jail at stake, right to participate in referendum does not carry such a heavy risk

[2015-05-02 21:33] KacperZajc opened #53 "new updates"
I updated the preamble as we discussed.

I also realised that 'with consent' phrase in the prohibition of torture provision CREATES a loophole rather than closes - the agents of public administration will be able to claim the victim consented (e.g. by forcing him or her to consent); this provisions is concerned with treatment carried out by the agents of the PA only so we dont have to be afraid of

[2015-05-02 21:35] KacperZajc commented on #51
on second thought, this -
No law shall limit the access to the Internet by adult individuals, unless the realization of such access violates property rights of the other person.
allows to watch child pornography so we cant do it either.

[2015-05-02 21:36] burningtree commented on #51
Another reference to discussion:

http://en.wikipedia.org/wiki/Net_neutrality#Open_Internet

[2015-05-03 10:38] liberty90 commented on #49
I'm afraid that "general population" understands "justice" somewhat different than libertarians... See "social justice". Liberty, on the other hand, is much more obvious...

[2015-05-03 10:41] liberty90 commented on #49
So I'm not sure that these "beautiful" passages actually guarantee anything other than weird conflicts about interpretation...

[2015-05-03 16:59] KacperZajc commented on #51
No law shall regulate the rules concerning uploading to the Internet any materials where all parties of age involved consent; nor shall it regulate the rules concerning displaying and/or accessing such material.

???

[2015-05-04 00:03] tinkyholloway commented on #49
@liberty90: "general population" understands "justice" somewhat different..."social justice"

You're right. Socialists have an established record of redefining language to trojan horse their ideas into established and accepted canon. I agree it's right to avoid ambiguous terms or ones that can obviously be subverted because they are known to be attack points. However, it may be weak to relay on th

[2015-05-04 00:05] tinkyholloway commented on #51
Is there a way to express the intent on keeping the medium of communication free from regulation without limiting it to a specific instance of that medium?

In a few years the internet may be dead just like the telex, and hopefully the fax machine.

[2015-05-04 00:08] tinkyholloway commented on #52
@Zephram-C I think something like this would be useful. In lieu of some agreement on this, I am assuming that some type of Randian state is being developed. Perhaps less the Objectivist view on IP.

[2015-05-04 05:08] KacperZajc commented on #51
No law shall regulate the rules concerning uploading and/or sending any materials through any medium of exchange where all parties of age involved consent; nor shall it regulate the rules concerning displaying and/or accessing such material.

better???

[2015-05-04 05:09] #53 closed

[2015-05-05 00:22] KacperZajc commented on #51
any objections?

[2015-05-05 03:08] burningtree commented on #51
I like it, but i have no experience with law.

Minor note: words "uploading" and "sending" are incoherent for me. (upload-download, sending-receiving). What about simply "transferring"?

[2015-05-05 03:12] KacperZajc commented on #51
No law shall regulate the rules concerning uploading and/or transmitting any materials through the Internet and/or any other medium of exchange where all parties of age involved consent; nor shall it regulate the rules concerning displaying and/or accessing such material.

I think this covers every possible loophole.

Is everyone happy?

[2015-05-05 09:40] KacperZajc commented on #51
Guys I would like to slowly wrap up our discussion, do you have any suggestions or comments of the last version I proposed?

[2015-05-06 04:10] KacperZajc commented on #51
does anyone object?

[2015-05-06 17:42] #51 closed

[2015-05-06 18:36] liberty90 commented on #49
My questions are partially outdated; new preamble is quite good and better than my proposition. Liberty already seems to be emphatised more than in the first draft.

[2015-05-06 18:51] KacperZajc commented on #49
:)

[2015-05-06 18:51] #49 closed

[2015-05-08 04:08] hazzik commented on #44
@tinkyholloway I saw #13 before writing my comment, and so I still thing that we need ability for citizens to dismiss laws

[2015-05-09 07:50] FellowTraveler opened #58 "polycentric law"
The competition between the U.S. states has been an extraordinarily effective check on government power. Political migration has a long history in the USA of providing citizens with a final escape from tyranny, and providing states with a strong incentive (and penalty) towards the liberty of the people.

I suggest that it was a mistake to remove the concept of non-geographical cantons from the Lib

[2015-05-09 09:53] FellowTraveler opened #64 "Your papers please..."
From David numbering the people, to the notorious example set by the Nazis ("papers, please..."), to the broken promise by the U.S. government that social security numbers would never be used as a form of identification, forcing people to be identified has always been used as a tool of oppression.

Therefore some guarantee must be enshrined in the Constitution that protects people from any require

[2015-05-09 10:35] jasoneriksen commented on #52
@tinkyholloway When you say less the Objectivist view on IP, what do you propose instead?

[2015-05-09 10:58] FellowTraveler opened #65 "Practice of Medicine"
In the U.S. it's accepted that there is a right to practice medicine but that it's subject to licensing in order to prevent incompetents from practicing.

This licensing requirement has led to medical boards who rescind medical licenses. In the case of injury to a patient, this may seem reasonable. However, patients tend to be sick or injured, and many die even in the course of proper treatment. M

[2015-05-09 11:12] FellowTraveler opened #66 "grand jury"
One way to ensure equal protection under the law, is to allow anyone to present a case to the grand jury for an indictment, not just a district attorney.

For example, imagine that a certain law is only enforced against black people, but never enforced against white people. Or only enforced against Libertarians, but never enforced against Republicans/Democrats. Etc.

One protection is to allow any

[2015-05-09 11:15] FellowTraveler opened #67 "entrapment"
Should have a provision banning entrapment by law enforcement. For example, agents of the law should not be able to enlist people to commit crimes and then charge them with those crimes. Often in the United States, agents will hire people to transport drugs and then charge them with transporting drugs. Etc.

If you are amenable to this, I can write the appropriate pull request.

[2015-05-09 14:37] FellowTraveler opened #68 "Taxing money"
In the U.S.A. you can give someone dollars for euros, and it's not a taxable event.

But if you gave dollars for Bitcoins, or dollars for Gold, or Bitcoins for Gold, then it becomes a taxable event (capital gains taxes) and you are supposed to record the value of each at the time it was bought/sold. This, of course, makes it very difficult to use Gold or Bitcoin as a form of money.

Therefore I re

[2015-05-09 14:58] KacperZajc commented on #68
it's covered, Im closing

[2015-05-09 14:58] #68 closed

[2015-05-09 14:58] KacperZajc commented on #67
I think this is a good idea, we should think about that.

[2015-05-09 14:59] KacperZajc commented on #66
very interesting, let me think about that

[2015-05-09 14:59] joshmh commented on #68
Good question. There's no income tax, according to the constitution, but does mean there's no capital gains tax? If I have to ask the question, you can be sure a government court will eventually argue that capital gains tax isn't income tax.

[2015-05-09 14:59] KacperZajc commented on #65
this is a highly political decision we cannot make ourselves, at this point it is unclear so it cannot make its way to the constitution now, Im closing

[2015-05-09 14:59] #65 closed

[2015-05-09 15:01] KacperZajc commented on #64
I understand your concern but how about the driving licence?
Maybe can make a provision that the gov will not assign any identification number to a person?
what about gun register?

[2015-05-09 15:03] KacperZajc commented on #58
it's too small and that would mean more bureaucracy, as far as I know President's team doesnt like that idea either

[2015-05-09 15:05] KacperZajc commented on #68
I have make an amendment recently making only tax on land and sales tax possible.
This was requested by the President's team.

[2015-05-09 15:06] joshmh commented on #65
If the government can constitutionally impose medical licensing, then I don't understand this constitution, especially:

If I go to someone and pay them to help me with my broken finger, and the government makes a law that abridges my ability to do that, how does that not violate that section? And, more significantly, how is Liberland any different than the US?

[2015-05-09 15:15] FellowTraveler commented on #64
What about it? Gun registration is a tool for evil:

http://www.nationalreview.com/article/365103/how-nazis-used-gun-control-stephen-p-halbrook

[2015-05-09 15:19] joshmh commented on #58
I think there's a good chance we'll have polycentric law anyway. This constitution is just one draft, being put forth by "citizens of Liberland". If this works out, there will be many settlers, and they might want to start their own canton and not be bound by the Liberland regime. What's stopping them? Starting off with the non-geographical cantons would avoid any strife this might cause.

I also

[2015-05-09 15:23] KacperZajc opened #69 "removal of drug use protection"
President just asked me to remove the provision protecting the drug use due to PR reasons.
This is not my idea and I do not agree with it.

[2015-05-09 15:27] joshmh commented on #68
Ok, that's actually a huge step forward if it can be maintained, and if it really rules out all other forms of taxation. Land tax and poll taxes are probably the least obtrusive taxes, but sales tax is very different. This will require massive intrusion into private affairs and a huge bureaucracy. At what point does the government feel a right to extract money from two people engaging in a volunta

[2015-05-09 15:28] KacperZajc commented on #68
probably as a last resort, I dont know. This is what was requested.

[2015-05-09 15:32] joshmh commented on #69
I have no problem with removing it, it's probably a good idea. If that's not covered by section II.3, then I fail to see the point of this document.

I'd love to hear a justification for a ban on marijuana that doesn't violate II.3.

[2015-05-09 15:35] KacperZajc commented on #69
I agree.
Plus the ban on victimless crimes.
If we were to remove those two there would be nothing left.

[2015-05-09 16:54] FellowTraveler commented on #58
@joshmh I live in Switzerland and yes it works well here. Competing states in the USA, and competing cantons in Switzerland, are one of the aspects of the U.S. Constitution that have truly been successful.

I understand @KacperZajc saying that Liberland is too small (7 sq km) but if the cantons are non-geographical, and require a certain number of members to become accepted, it should work out.

T

[2015-05-09 18:03] mtelka commented on #64
What about the driving licence?  To drive a car (or whatever) you do not need a paper.  You need a car and a gas (simplified, of course).

[2015-05-10 04:09] tinkyholloway commented on #68
@KacperZajc would it be possible to list out somewhere the constitutional areas that the 'president's team' - who don't seem to participate here - decide on unilaterally.

I'd like to know what they are. Perhaps these 'do not touch' clauses can be decorated as such in the constitution draft.

I'm concerned that without their participation in this process, the resulting document will be warped and

[2015-05-10 05:01] informed-juror commented on #66
I think its a great idea!
I seem to recall its part of English Common Law (there continue to be private prosecutions in the U.K. from time-to-time) and the basis of U.S. law but in the past hundred years or so many states (and I think Congress) have enacted laws to prevent private prosecutions or make them very difficult. There were lots of reasons given by legislators when selling this to the pub

[2015-05-10 05:13] cpacia commented on #68
I would be down for creating a fork. Maybe Kacper will let us put it up as an alternate branch?

[2015-05-10 10:23] FellowTraveler opened #75 "Common Law"
The legal tradition of English common law has a principle called *Stare Decisis* wherein once a certain precedent is set, the same precedent is applied to all similar cases. If the precedent is later found to be incorrect in a specific case, and overturned (at the Appeals Court or the Supreme Court) then it also impacts all similar cases.

This is in contrast to Roman Civil law, where the judge ru

[2015-05-10 16:36] KacperZajc opened #76 "Policy explanation"
Let me explain what seems to be a problem here.

We have several people here with different types of libertarian ideas. There is no one form of libertarianism and what is even worse, different forms often contradict each other. Consequently, you all have ideas which often do not match.

I am sorry I often sound authoritarian but I am trying to hold this document together. On the one hand I have al

[2015-05-10 16:36] #69 closed

[2015-05-10 19:43] FellowTraveler commented on #76
:-)

[2015-05-10 21:24] liberty90 opened #79 "Occupational licensing"
http://en.m.wikipedia.org/wiki/Occupational_licensing

Should constitution directlly prohibit such laws, or maybe current version protect against them sufficiently ?

[2015-05-10 21:27] KacperZajc commented on #79
@joshmh pointed out that this:

No law shall abridge the right of persons to the control of their own bodies and property, nor interfere with voluntary consensual or contractual relations among adult persons, nor impinge on the right to form cooperative ventures of any kind, so long as no negative rights of others are infringed by force or fraud, or threat thereof, or unbeknown to them.

protects

[2015-05-10 21:39] FellowTraveler commented on #79
Looks good to me.

[2015-05-10 21:47] liberty90 commented on #79
It's possible that this will be sufficient, but keep in mind that it's easier to bypass one article than two. Social democratic states guarantee their tyranny with constitutions that have hundreds of pages (look, for example, at this socialist monstrosity: http://www.sejm.gov.pl/prawo/konst/angielski/kon1.htm ) ; we surely can afford to guarantee liberty two or even three times instead of once ; )

[2015-05-11 16:20] KacperZajc commented on #66
My idea is:

All criminal offences are at the same time civil wrongs, but not all civil wrongs are criminal offences, so-

let's guarantee a right to initiate a private prosecution in the Criminal Court before an ordinary panel of Jury to every person whose claim against other person was successful in the Civil Court and there is a corresponding criminal offence to that civil wrong.

After the pro

[2015-05-11 16:22] KacperZajc commented on #79
Id rather keep it as short as possible.
If it's covered, it's covered.

[2015-05-11 16:25] KacperZajc commented on #75
As long as I am responsible for the legal system, there will be precedents and stare decisis :)
There is no Jury in British civil courts and it is a common law jurisdiction.
I really dont think Jury is necessary for adjudicating civil wrongs.
This has no place in the Constitution in any event.

[2015-05-11 16:27] KacperZajc commented on #67
No person enlisted by any agent of the Public Administration to commit any criminal offence shall be tried for that offence.

???

[2015-05-11 16:43] Zephram-C commented on #52
Ok. It seems we have clear lead here [#76](https://github.com/liberland/constitution/issues/76). This is what is needed.

[2015-05-11 16:44] KacperZajc commented on #52
closing then

[2015-05-11 16:44] #52 closed

[2015-05-11 16:57] FellowTraveler commented on #66
This sounds good to me.

There are still cases I wonder about. For example, let's say that a government employee is guilty of bribery, but the public prosecutor declines to press charges. Can a private investigator then present his findings to the Grand Jury for an indictment?

Notice in that example there is not necessarily an "injured party" other than John Q. Public.

[2015-05-11 16:58] FellowTraveler commented on #67
That sounds great to me!

[2015-05-11 16:59] KacperZajc commented on #67
anyone else wants to contribute?

[2015-05-11 17:01] KacperZajc commented on #66
OK we should include that if the accused is the agent of the Public Administration then any citizens has a right to instigate the prosecution provided the Public Prosecutor failed to do so. ???

[2015-05-11 17:18] FellowTraveler commented on #66
Sounds good to me. Can we explicitly say that the citizen can present the evidence to the grand jury? From there it can take the normal legal process.

[2015-05-11 17:21] KacperZajc commented on #66
Sure.
I'll close this issue, and you could propose a pull then we will work on wording there :)

[2015-05-11 18:37] jasoneriksen commented on #64
No need for a state issued driving license. Roads should be privately owned anyway. If a bunch of insurance companies coalesce onto a standard set of recommended rules of the road, they might require all drivers they insure to be tested and certified through one of their testing centers. Home Owners Associations and Business Park owners may decide having safe drivers on their roads is in their bes

[2015-05-11 19:06] jasoneriksen commented on #67
I concur that the abuses by government agencies (typically the DEA) here in the United States in this regard are appalling.

But I can see situations where the enlisted party could use this entrapment clause as a legal protection. How does this apply in situations where a corrupt police officer enlists a gang to burn down a business that hasn't paid its protection fee for the week?

[2015-05-11 19:06] Zephram-C commented on #67
I am not sure this is a good idea. This way enlisted crimes may be committed but never punished (and victims restituted by law). If I want to commit crime, all I need for impunity is enlistment by colluding agent. What if one agent of the Public Administration enlists another one to commit crime?

*agents of the law should not be able to enlist people to commit crimes*
This is simple enough and it

[2015-05-11 19:07] KacperZajc commented on #67
so:

No agent of the Public Administration shall enlist any person to commit any criminal offence.

is that better?

[2015-05-11 19:10] Zephram-C commented on #67
I think that abuse (eg. by DEA) happens because Public Agents have immunity in such cases. (Clearly any non-Public Agent enlisting someone to transport drugs would be punished [in drug intolerant non-Liberland].) Take away that immunity and we do not need special provision.

[2015-05-11 19:34] FellowTraveler commented on #66
What if we start with this wording: *"If a claim is won in Civil Court that has a corresponding criminal offense, the claimant shall have the right to place the evidence before the grand jury in pursuit of an indictment."*

I also want citizens to be able to place evidence before the grand jury against an agent of the Public Administration, but I'm not sure how to allow this without also allowing

[2015-05-11 19:47] FellowTraveler commented on #67
I agree with @jasoneriksen that there are situations where the enlisted party could use this entrapment clause as a legal protection. He has a very good point.

I agree with @KacperZajc to therefore simplify the wording to *"No agent of the Public Administration shall enlist any person to commit any criminal offence."*

I agree with @Zephram-C that public agents should not have immunity for crimes

[2015-05-13 04:45] informed-juror commented on #66
FT: The Civil --> Criminal case linkage must not force the defendant to reveal, under oath, testimony that could later incriminate.

[2015-05-13 04:54] informed-juror commented on #66
https://en.wikipedia.org/wiki/Private_prosecution, esp. https://en.wikipedia.org/wiki/Private_prosecution#England_and_Wales
The U.S. Supreme Court, I think selfishly, decided that "... a private citizen lacks a judicially cognizable interest in the prosecution or non-prosecution of another." in
https://en.wikipedia.org/wiki/Linda_R._S._v._Richard_D.

[2015-05-14 23:27] #79 closed

[2015-05-15 00:38] KacperZajc opened #83 "Chief Public Prosecutor"
What do you guys think about the position of the Chief Public Prosecutor?
I think we could make this person impeachable by the Citizens the same way the Justices of the Supreme Court are. It would ensure that if a person in this position prosecutes for crimes which are not widely acceptable as such, he or she might get impeached in a referendum.

[2015-05-15 13:57] FellowTraveler opened #84 "Juries on civil trials"
I was thinking about how there's no jury for civil trials, and I thought of a potential problem:

Wouldn't it be possible to prejudice the judge by presenting evidence to him that would not be considered admissible in front of a jury?

If there's a jury, the judge can decide which evidence the jury will actually see, and which evidence should be considered inadmissible. But if there's no jury, the

[2015-05-15 14:15] KacperZajc commented on #84
There are 3 judges, only can 1 judge the admissibility of evidence if that seems to be a problem. The other 2 would be 'untainted' by what has been seen.

Jury in civil proceedings is a waste of time and effort. It hugely slows down the process and what might be even worse, is prone to manipulation. Undoubtedly we need Jury in criminal proceedings, but civil wrongs can be efficiently adjudicated b

[2015-05-15 16:22] FellowTraveler commented on #84
Doesn't this mean, if the 2 'untainted' judges disagree on the verdict, that the prejudiced judge will be the tie-breaker?

[2015-05-15 16:25] KacperZajc commented on #84
yes
I dont think it is a problem because judges are trained to properly disregard evidence they have seen - this is only a real problem with a jury because they are 'normal' people.
So I dont think this would be an issue if all 3 saw the evidence, not to mention only 1 out of 3.

[2015-05-15 16:52] FellowTraveler commented on #67
I just want to make sure that whatever solution we come up with, would prevent this sort of thing from happening:  http://www.theguardian.com/us-news/2015/may/12/polygraph-critic-trial-lie-busters-doug-williams

[2015-05-15 16:55] FellowTraveler commented on #67
Look what else these assholes did, in the same case as above: "After Williams’s business was raided, CBP shared his business’s database of nearly 5,000 customers, including their social security numbers and addresses, with 30 other federal agencies."

[2015-05-16 09:30] Zephram-C commented on #76
I only hope that in the end President's team will be consistent with their suggestions and compatible with here-iterated vision of this Constitution.

[2015-05-16 21:56] #83 closed

[2015-05-16 21:56] #76 closed

[2015-05-16 21:56] #67 closed

[2015-05-16 21:56] #66 closed

[2015-05-16 21:56] #75 closed

[2015-05-16 21:58] KacperZajc opened #86 "New changes"
New changes:

- chief public prosecutor impeachable
- private prosecutions (a short version only, detailed rules will not fit in the Constitution unfortunately)
- guarantee of judges' remuneration
- prohibition of entrapment (as we discussed)
- prohibition of custody without being informed about one's rights
- trial no later than a year since the complaint or warrant

[2015-05-20 22:04] KacperZajc opened #87 "Change of wording of an article protecting from invasion of privacy"
I think this wording offers better protection and closes any potential loopholes:

No person's privacy shall be violated by freeze of assets, searches, seizures, surveillance, accessing and gathering of their personal information without consent, including obtaining it from the 3rd parties and/or using digital means, otherwise than in pursuit of a Warrant issued by a judge of Criminal Court, and o

[2015-05-21 00:27] #87 closed

[2015-05-21 00:27] #86 closed

[2015-05-21 00:32] KacperZajc opened #88 "restating the bill of rights"
The Bill of Rights got messy as we modified it, so I want to restate everything.

The are no changes to the meaning only renumbering and some polishing of wording.
I also merged some articles which were related.
The only real change is the 'price control prohibition' which I removed because I realised it was covered by the other articles and there is no point repeating ourselves (even though the p

[2015-05-21 21:38] mtelka commented on #88
Please create a pull request so we can easily see the diff.  Thanks.

[2015-05-22 00:57] KacperZajc commented on #88
Ive already changed it, see the commit for the difference.
But it is easier to look at the whole picture.

[2015-05-23 20:20] KacperZajc opened #89 "The Legislative Power Article restated"
Article restated with small changes to the procedure in the Assembly.
It clarifies some vague areas.

### Article IV: The Legislative Power

* **§IV.1.** The legislative power in the Free Republic of Liberland shall be vested in the Citizens of the Free Republic of Liberland and the Assembly of the Free Republic of Liberland, hereinafter, "the Assembly", which shall exercise it on behalf of the Ci

[2015-05-23 20:20] #88 closed

[2015-05-23 20:20] #84 closed

[2015-05-25 16:52] #89 closed

[2015-05-25 16:56] KacperZajc opened #90 "Judicial Power Article restated"
### Article VI: The Judicial Power

* **§VI.1.** The judicial power of the Free Republic of Liberland shall be vested in the Courts of the Free Republic of Liberland.
* **§VI.2.** The Courts of the Free Republic of Liberland shall first and foremost uphold the Constitution of the Free Republic of Liberland, and any laws passed by the Assembly in accordance with this Constitution.
* **§VI.3.** The

[2015-05-25 17:51] FellowTraveler commented on #90
I don't think a simple majority of the public should be able to remove a Justice. The Justices need to be protected a bit from the passions of public opinion.

I suggest making it a 2/3rds or 3/4s majority. That way a Justice can still be removed, but his rulings will not be unduly swayed.

[2015-05-25 17:53] KacperZajc commented on #90
You are right, let's make it 2/3 then.
Same for the Chief Public Prosecutor?

[2015-05-25 17:53] FellowTraveler commented on #90
Yes I think so.

[2015-05-25 17:53] KacperZajc commented on #90
2/3 it is then

[2015-05-25 18:07] FellowTraveler commented on #89
Might as well prohibit education funding in here as well.

[2015-05-25 20:03] mtelka opened #91 "Self-ownership and bodily integrity"
I think we should have self-ownership noted in the Constitution as a basic principle of the bodily integrity.

[2015-05-25 20:04] KacperZajc commented on #91
what do you mean?
we have an article saying that every person has a right to do whatever he or she wants with his or her body where no rights of others are infringed

[2015-05-25 20:28] mtelka commented on #91
You probably mean §II.7.  That is okay.  But I still think that the self-ownership and the ownership in general should be listed as general principle, not only in the Legislative Restrictions.  If this is in the Legislative Restrictions only, then, obviously no law is permitted to violate the ownership, but, OTOH, there is no strong statement that the ownership (and the self-ownership as the first

[2015-05-25 23:44] #90 closed

[2015-05-26 21:53] KacperZajc commented on #89
done

[2015-06-04 21:55] ke7ofi commented on #58
@FellowTraveler At that point, what’s the difference between a canton and a political party?

[2015-06-06 21:25] saintego commented on #64
I think driving licence is needed in same way as passport. For traveling outside of liberland. I don't think there is any need of ID, nor official driving licence in liberland. I think if state have try to punish somebody for driving without licence is victimless crime and therefore against Constitution.

[2015-06-06 22:04] saintego opened #93 "Prosecutor"
How is Chef prosecutor appointed? Will he be able to refuse to prosecute somebody? Because this way it is easy way to avoid court, if you are friend of prosecutor.

[2015-06-06 22:16] saintego commented on #93
I made pull request #94, but maybe shorter period will be better

[2015-06-06 22:42] saintego opened #95 "The power to initiate a legislative procedure shall lie with the Cabinet only"
I have two concerns here.
1. What if there is some important need of changing law in short time period? For example new act is wrong and there is no chance to change it for next year. Or some crisis, war or something...What about initiate a legislative procedure between State of Republic speeches, but with sunset clause till next State of Republic speech?
2. Why there is no chance to initiate legi

[2015-06-07 12:38] saintego opened #96 "The Cabinet shall consist..."
Why is it necessary to have structure of cabinet in Constitution? Maybe it will be easier to outsource some part of administrative, some departments will be not important and some other will appear. I think it'll be better if Chancellor will be able to build structure of his team in the way he will prefer and not to have some puppet department just to fulfil Constitution

[2015-06-07 15:37] liberlandcitizen commented on #16
As I commented on the Liberland Facebook page...taxes = theft.  The President has stated in many media interviews that taxes would be voluntary in Liberland.  Allowing the assembly to create taxes for things like sales tax and land tax is in direct contradiction to what he has promised.

I beg of you - don't legalize theft for government officials.  Let the people choose to donate to the governmen

[2015-06-07 15:54] cpacia commented on #16
I completely agree. And given the make up of the people who are already there it seems highly unlikely that they would have a hard time raising funds voluntarily. However, I tend to think the actual constitution will more likely be influenced by the originally settlers than what we do here on github.

[2015-06-07 16:06] cpacia commented on #58
@ke7ofi Political parties try to influence the policies of a single government which everyone is bound to follow. In a polycentric system, the policies are only binding on those who have consented to live under them.

[2015-06-07 16:37] cpacia opened #98 "Supreme court checking constitutionaity"
They posted the diagram of the legislative flow on the Liberland facebook page and the more I look at it, the more the part about the Supreme Court checking constitutionality gives me great concern. Here in the United States, the Supreme Court also has that power and it almost always rules that laws are Constitutional when in fact they are not. And doing so serves to legitimize the law in the mind

[2015-06-07 17:41] liberlandcitizen commented on #64
@KacperZajc I agree with your idea of adding to the constitution that government can not assign a number to people.  I also think any federal documents (passports, and DL if we are to have them) should be optional, and never required.

More importantly, I think it's important to guarantee the right to NOT have to show your papers, or even identify yourself by name to the police unless and until yo

[2015-06-07 18:56] saintego commented on #98
Maybe we can add possibility of adding virtual  lower political division just by respecting any political group gathering more than 1% of population. They will have some set of rules that their members need to respect, some inner police to enforce rules and possibility to disrespect acts that are against Constitution. So for example  majority of population without lower political institution and t

[2015-06-07 20:25] liberlandcitizen commented on #98
The constitutionality of any law should be evident, otherwise it shouldn't be a law.  My concern is less about having a supreme court deciding the constitutionality of laws (especially since they can be impeached by 2/3 of citizen votes) and more that a law will be stamped as constitutional with just 60% of the judges agreeing that the law is constitutional.

Why not require 5 out of 5?  Or at lea

[2015-06-07 21:00] cpacia commented on #98
@liberlandcitizen The underlying problem is the "who watches the watchers" problem.

I completely agree with Huemer that:

Which is why I'm skeptical that this type of structure can really limit government long term.

Things like having the constitution only binding on those who literally sign and assent to it, or requiring that laws be funded voluntarily would go a long way to preventing the type

[2015-06-07 21:06] liberlandcitizen commented on #98
@cpacia I absolutely agree with you about funding.  We must honor Vit's pledge that all taxes be voluntary, as he stated to dozens of media reporters.

[2015-06-08 03:01] Jean-LouisMesic opened #99 "§III.12. discussion. Is this safe?"
For simplicity's sake, I am including the text of the aforementioned section below.

§III.12. No person shall be tried for any criminal offence any later than a year since the Warrant for custody was issued or, if no warrant was issued, since the complaint was made to the appropriate authorities.

I argue that this leaves accused parties with a very alarming loophole, through which they can escape

[2015-06-08 03:17] Jean-LouisMesic commented on #16
Bills would be treated as investments in @joshmh 's plan.

One would merely have to hope that important programs were important enough either for people to support the public domain in funding, or to invest in similar programs in the private sector to satisfy the need.

[2015-06-08 04:09] Jean-LouisMesic commented on #91
+1 I agree with @mtelka mtelka.

The more redundancy, the better.

[2015-06-08 04:14] Jean-LouisMesic commented on #95
Enacting laws through referendum is a surefire way to introduce totalitarian practices.

Citizens already have a veto power, as well. If they fail to veto it, then it must not have been so catastrophic that it can't wait a year.

Finally, if it truly is catastrophic, then citizens can take the law to the Supreme Court to judge constitutionality.

[2015-06-08 04:16] Jean-LouisMesic commented on #96
We are structuring the cabinet in our constitution because the alternative would be structuring a U.S. style executive, and we would rather have a group of people instead of a single person as our executive branch.

Allowing the Chancellor to fill the Cabinet allows him to stack the deck in his favor, and if the Cabinet is the only was to introduce and reintroduce laws, this is a quick way to tota

[2015-06-08 04:34] Jean-LouisMesic commented on #98
I believe constitutionality should not require a scholarly experience in Constitution semantics to determine. If the jargon of a constitution is such that you must hire nine individuals for life to interpret and regurgitate said Constitution, then you are allowing those nine men to tell you what the Constitution says. This would be just like Jim Crow enthusiasts telling illiterate African American

[2015-06-08 04:48] cpacia commented on #98
@Jean-LouisMesic My main concern there would be situation where the jury rules it to be constitutional and that forever changes public opinion about a laws constitutionality.

I would not be opposed to a jury in a criminal case taking the constitutionality of a law into mind when determining guilt and innocence. As opposed to the jury blindly following the orders or a judge who assure them the law

[2015-06-08 08:01] FellowTraveler commented on #64
_"Government shall not assign numbers to the people, nor compel any traveler to identify himself, nor compel any person to procure or carry identification papers, nor compel any person to bear any mark or wear any badge. Government systems that necessarily track a person's identity, such as for the purposes of issuing Liberland passports or for voter registration, or collecting taxes, shall not sh

[2015-06-08 08:11] FellowTraveler commented on #58
@ke7ofi Each canton would make its own laws instead of making the laws at the Federal level. That way people can choose which Canton (which laws) they will submit to. You asked what's the difference between that and political parties? The answer is that when the opposing political party wins an election, you are forced to submit to rule by the opposing political party. For example, sometimes a Rep

[2015-06-08 09:07] saintego commented on #96
I think to tell what should be structure of Cabinet is not solving anything. They can have virtual departments and actual power can be held by somebody else.

[2015-06-08 09:43] Jean-LouisMesic commented on #58
You can also switch between cantons and change the laws under which you are bound, much like how moving and changing states changes the entire state government under which you are bound.

When you change political parties, you just change the set of people you're able to vote for in primaries. When you change cantons, you're fundamentally changing your legal obligations instantaneously.

[2015-06-08 10:41] saintego commented on #16
There is dispute between founding fathers about voluntary taxes. I think Vitek is still strictly for voluntary one... I like @joshmh idea, but I think it can work only with bills providing services, not banning something.

[2015-06-08 13:50] mtelka commented on #64
For all who thinks that _[g]overnment shall not assign numbers to the people_:

Every information stored in a computer system (as we know it today) is represented as numbers. For example, the word **Kacper** is usually stored as this sequence of decimal numbers: 75 97 99 112 101 114.  In other words, in a case the government will store any information about anybody in a computer system, it will te

[2015-06-08 14:08] mtelka commented on #64
_... shall not share data, but shall adequately protect the data entrusted to them, even from other government agencies ..._

This is so vague that it would be very hard to find a consensus what exactly that means (for example, what exactly "adequately" means?).  And, it is effectively not possible to enforce it.

I propose the opposite idea of the data protection:

_All (personal) data (IOW, data

[2015-06-08 14:19] mtelka commented on #96
@Jean-LouisMesic: That's not true.  There is a bunch of European countries without the U.S. style of executive, and without the cabinet structure listed in the Constitution.

@saintego: :+1:

[2015-06-08 16:05] ke7ofi commented on #64
@jasoneriksen Privately owned main roads would make it possible for people to arbitrarily deny others passage, so maybe not.

[2015-06-08 16:06] ke7ofi commented on #58
That sounds like a good system, then.

[2015-06-08 16:40] saintego commented on #95
OK, maybe you are right that promoting law through referendum is not good idea, but I still think that taking down act by referendum even after 90 days is good idea. If act is Constitutional,  not obsolete and government like it, there is no way to take it down by citizens. Same like there is no chance to promote emergency law. I know it can be highway to hell with emergency law, but if it'll be t

[2015-06-08 17:15] FellowTraveler commented on #64
@mtelka We can change it to _"Government shall not assign identification numbers to the people."_ The purpose is to prevent the creation of numbers such as social security numbers.

@mtelka This is not a bad idea. I'm curious what others think of this.

[2015-06-08 18:53] andrewgorash commented on #58
I'm 100% in. Adding concept of polycentric law (while being subject to general provisions of the Constitution) is a great tool to limit possibility of Administration misusing their power. At the same time it serves the purpose of fair representation, which is discused in #78.

[2015-06-08 18:59] mtelka commented on #64
@FellowTraveler: There is almost no difference between _identification number_ and _a number_ (from technical and mathematical point of view).  I understand what you are trying to achieve here, but I'm afraid it is hardly possible to do that without unclear (fuzzy) statements like that one you suggested.  The bad news is that such unclear statements will make the Constitution weak...

OTOH, I do n

[2015-06-08 19:45] mtelka commented on #95
@Jean-LouisMesic: What is the difference between "adopt a law through referendum" and "vote first for the parliament (the process is very similar to referendum), and then adopt a law through the representatives" in terms of totalitarian practices?  Why people think that the two-lever democracy is better than the one-level democracy?  With the referendum you know what you are voting for.  With the

[2015-06-08 22:01] Jean-LouisMesic commented on #16
@saintego What needs to be banned, anyway?

Homicide, burglary, larseny, rape, assault... Fraud, embezzling, etc. Banning victim crimes is the same thing as offering the service of protection from these acts. People would pay for the protection.

What are you worried that we may have to ban?

[2015-06-08 22:36] Jean-LouisMesic commented on #64
"No number shall be assigned to any person not consenting in exchange for any good, service, privilege, or other deed, by any agent or agency of the Free Republic of Liberland for any purpose pertaining to the Law of the Free Republic of Liberland."

This allows people to voluntarily give information to voluntarily give information to the republic for express purposes. It also allows agents of the

[2015-06-08 22:45] Jean-LouisMesic commented on #58
AND it can leave the issue of levying taxes for the sake of general upkeep up to cantons, rather than the federal government, which keeps taxes voluntary.

[2015-06-08 22:47] Jean-LouisMesic commented on #95
One-level democracy allows for a few thousand socialists to immigrate and fundamentally change our nation.

Two-level democracy, when properly restricted, allows for the legislative body to have tied-hands as to what they can and cannot ever put into law.

[2015-06-08 23:55] KacperZajc commented on #99
Im afraid of very long trials that really have nothing to with justice.
If 1 year was not enough to prosecute I doubt there is sufficient evidence at all.
But Im open to debate here.

[2015-06-08 23:58] KacperZajc commented on #96
the list of cabinet departments is closed so that we wont see the government expanding endlessly

[2015-06-09 00:04] #93 closed

[2015-06-09 00:05] #44 closed

[2015-06-09 00:05] #35 closed

[2015-06-09 00:09] KacperZajc commented on #64
Jean-LouisMesic: I like your form but some of it covered by III.2 so it needs a bit of polishing, let me thing about that :)

[2015-06-09 00:38] liberlandcitizen commented on #99
Consider the use of DNA in murder trials.  The technology literally didn't exist just a few decades ago, so murders, rapes and other crimes remained unsolved.  Only once the technology became available, and the DNA from the stored evidence was tested, were they able to figure out who the guilty party was, and finally bring them to justice.  Who knows what the future may bring.

I would also be con

[2015-06-09 00:54] KacperZajc opened #101 "List of potential changes for the Draft 3.0 IMPORTANT"
1.	Add to the Bill of Right’s preamble that it applies also regardless of sexual orientation.
2.	Make the Justices of the Supreme Court who are to replace the ones removed in a referendum directly elected.
3.	Oblige the Cabinet to consider a bill proposal put forward by 5 Assembly Representatives (no obligation to actually submit such a bill)
4.	Remove the word ‘indenture’ from II.4 because as som

[2015-06-09 01:21] KacperZajc commented on #98
@cpacia the citizens watch the Supreme Court so there is someone who watches the watchers, this is precisely why I introduced the power to remove the Justices of the Supreme Court in a referendum.
Plus there is a possibility of veto by citizens in respect of each bill.
So we have double or even triple safeguard.
Please dont ask we what happens if the majority of citizens dont want their liberty an

[2015-06-09 01:23] liberlandcitizen commented on #101
"§III.14. In criminal proceedings, the defendant shall have the right to the following:
§III.14(5) to the assistance of legal counsel free of charge where appropriate;
§III.14(8) to be provided without expense with the services of an interpreter if he or she does not speak the language of proceedings."

Why have socialized legal services?  Much like medical and retirement services, I believe the m

[2015-06-09 01:26] liberlandcitizen opened #102 "Socialized Legal Services?"
"§III.14. In criminal proceedings, the defendant shall have the right to the following:
§III.14(5) to the assistance of legal counsel free of charge where appropriate;
§III.14(8) to be provided without expense with the services of an interpreter if he or she does not speak the language of proceedings."

Why have socialized legal services? Much like medical and retirement services, I believe the ma

[2015-06-09 01:36] liberlandcitizen opened #103 "II.13 - 'All Parties Involved' Includes Whom?"
"§II.13. No law shall regulate the rules concerning uploading and/or transmitting any materials through the Internet and/or any other medium of exchange, where all parties of age involved consent; nor shall it regulate the rules concerning displaying and/or accessing such material."

What constitutes involvement?  Does one need the author’s consent to link to an article? To paste parts of an artic

[2015-06-09 01:40] Jean-LouisMesic commented on #99
@KacperZajc Perhaps I'm misinterpreting this.

To me, I read this and search warrants are only valid for a year. What if the accused is not found and detained in the year? You can't put them on trial without their presence, I don't believe. This lets criminals exploit a loophole where they can leave the country or go into hiding for a year, waiting for their search warrant to expire. There must be

[2015-06-09 01:40] Jean-LouisMesic commented on #99
+1 @liberlandcitizen

[2015-06-09 01:42] KacperZajc commented on #99
this is a good point -
what if we add "unless the accused flees from the authorities"
???

[2015-06-09 01:48] Jean-LouisMesic commented on #96
Right. We don't need a George W. Bush coming in and establishing a whole new department of the Executive branch.

[2015-06-09 01:50] Jean-LouisMesic commented on #64
Thank you! I hope I was helpful.

[2015-06-09 02:09] liberlandcitizen commented on #98
Well I hope others will chime in to agree that it's a serious concern :)

Remember - as of now it only takes 60% of the Supreme Court judges to declare a law constitution.  That's barely half of them saying it's constitutional, with nearly half saying it's not!

How about 5 out of 5?

[2015-06-09 02:16] Jean-LouisMesic commented on #101
@KacperZajc

Yea to 1., 2., 3., 4., 5., 6., 8., 10., 13., 16., 17.

7. Needs to be determined, yes.

9. This deserves discussion, but I can see it getting rather lengthy. I'd open a separate issue for it. At what age does one suddenly become responsible and able to consent for their own reactions? What crimes could become feasible after opening up this section to youth? Should youth have a separat

[2015-06-09 02:22] Jean-LouisMesic commented on #102
This existed long before Marx. It's not exactly socialist.

I also find it necessary. There are many circumstances that arise after being detained that render you unable to compensate an advocate and/or interpreter. Additionally, if a defendant has no interpreter, than how is a jury to ascertain guilt? Are they to dismiss his case and release a potential murderer? Or convict him just to be safe?

[2015-06-09 02:24] Jean-LouisMesic commented on #102
@liberlandcitizen Perhaps a compromise would be to incur a debt to the government after winning a case. This debt would have to be paid in full in some time frame. After losing a case, your debt can be paid through prison labor.

[2015-06-09 02:33] Jean-LouisMesic commented on #103
All that needs to be done here is to revise that small part. Let's think about what is intended:

*The uploader and all parties of age involved in the production of the material to be uploaded/transmitted are aware and consenting to the upload/transmission.
*The uploader and all parties of age involved in the production of the material to be uploaded/transmitted are aware and consenting to any and

[2015-06-09 02:37] Jean-LouisMesic commented on #99
@KacperZajc

"No person shall be tried for any criminal OFFENSE any later than a year since the Warrant for custody was EXECUTED AND THE ACCUSED WAS SUCCESSFULLY TAKEN INTO CUSTODY."

This still leaves the possibility for search warrants to go on indefinitely, so perhaps an annual review/sunset clause for search warrants, like the one I proposed above, is warranted?

[2015-06-09 02:47] Jean-LouisMesic commented on #98
I agree with unanimity. If it becomes a problem, we can always vote out the dissenters and elect new judges, should the new referendum justice election idea pass.

[2015-06-09 03:56] liberlandcitizen commented on #103
I urge zero regulation of the internet in Liberland, protected in the bill of rights.  If somebody steals letters from your home, it's already theft and they can be prosecuted.

Transmitting zeros and ones should never be a crime though, no matter what the material may be.

[2015-06-09 04:26] liberlandcitizen commented on #101
(2) If judges become politicians (complete with elections and opponents and campaigns and advertisements and debates) then their decisions will become political.  I think it's great that the public can take them out, but how about putting them into their judgeship a consistent way?  Otherwise the public may be motivated to take them out (just so they can put their own in).

(11) This will likely r

[2015-06-09 05:52] saintego commented on #96
@KacperZajc I don't think this will help. Only difference between creating new executive branch  under new department or under existing one is that if you create new department than assembly can take down head of new department. Size of government, budged, expansion is the same. Just without new department structure is bit more messy and control of government is bit smaller. Even after taking down

[2015-06-09 06:53] Jean-LouisMesic commented on #101
@liberlandcitizen (2) It would only be in the case of a judge being impeached and removed through referendum. Otherwise, we'd be down a judge until another appointment can be made, and if the last Court was unjust, then the next appointee will also likely be unjust.

I can see your point that electing Justices to replace removed Justices could pose a problem, where impeachment referendums are abus

[2015-06-09 06:54] Jean-LouisMesic commented on #101
@liberlandcitizen (11) Could you elaborate on how this could be a marriage stance?

[2015-06-09 07:05] Jean-LouisMesic commented on #103
What if my neighbor acquire those letters through a consensual association, like I wanted their counsel on something contained within? Do they then have the right to make thousands of Xerox copies and ship them around the globe through snail mail? That could be defamation. The same goes for the Internet. At the very least, it should be possible for the defamed to take a civil case up with the defa

[2015-06-09 07:08] mtelka commented on #95
@Jean-LouisMesic: If you are able to properly restrict the legislative body to have tied-hands as to what they can and cannot ever put into law in the two-level democracy, you could use the exactly same restriction in the one-level democracy to achieve the exactly same results.

IOW, two-level democracy allows for a few thousand socialists to immigrate, vote in elections, and fundamentally change

[2015-06-09 08:07] Jean-LouisMesic commented on #95
Because the Constitution prohibits the assembly from enacting such laws. It doesn't prohibit referendums from doing so, nor could it. If a referendum passed, but was not carried by the Constitution, than the Constitution would be burned.

If an assembly vote passes, but is not carried by the Constitution, than the impact of the failure to past is blunted through the assembly rather than directly o

[2015-06-09 08:08] Jean-LouisMesic commented on #95
Since when have you seen a piece of paper that can bind 200,000 people?

It is easier to bind a small group of people to a Constitution than a large.

[2015-06-09 12:37] ke7ofi commented on #58
I assume someone will start a canton which imposes no additional laws?

[2015-06-09 12:39] ke7ofi commented on #101
Why not just say that it applies to everyone? Is there anyone it *shouldn’t* apply to?

[2015-06-09 12:44] KacperZajc commented on #102
it guarantees there will be no abuse of process because of language or lack of resources; it was accepted by the Founding Fathers as such

[2015-06-09 13:15] KacperZajc commented on #101
@Jean-LouisMesic

9) I think it is natural that the non-aggression principles does not fully apply to ,minors?
11) We really need inheritance rules where there is no will, how otherwise would you regulate that? We allow the Assembly to make rules which will be applied by the Civil Court. This will not affect the ban on regulating marriage itself.
12) I really like your wording.
14) What does it ha

[2015-06-09 13:53] liberlandcitizen commented on #102
Well "free" education "guarantees" that all children will be educated....but in many places they are not.  "Free" healthcare "guarantees" that all people will receive quality medical care...but is government care quality?

I would argue the quality of legal counsel would be lower if government run than what people would be able to find in a truly free, unregulated legal market.

Do we believe in t

[2015-06-09 14:23] liberlandcitizen commented on #103
Defamation?  That's a slippery slope.  Maybe people should be careful about who they associate with and give their personal letters to?  Perhaps have somebody sign a contract to keep the letters private?

Wikileaks didn't have consent from the US government when it leaked classified info.  Illegal in Liberland?

[2015-06-09 15:30] saintego commented on #16
@Jean-LouisMesic Yes, probably you are right

[2015-06-09 16:28] ke7ofi commented on #101
@KacperZajc Small arms will change over time (Miniaturised electrolasers? Basically anything could pop up if it’s small enough). You may want to find a broader definition.

[2015-06-09 17:13] KacperZajc commented on #102
I leave this issue open to discussion :)

[2015-06-09 17:35] mayapurmedia commented on #99
@Jean-LouisMesic Sounds good.

[2015-06-09 17:45] mayapurmedia commented on #64
If government will be forbidden to identify person, how then they will be able to issue warrant for him in case of need?

Seems like government officials should have right to do so, in case of crime.

[2015-06-09 18:12] KacperZajc opened #106 "List of immediate changes"
Points I want to introduce at the moment unless there is a strong objection:

1.	Remove any qualification as to whom the Bill of Rights apply and add that it applies to everyone unless stated otherwise.
2.	Require unanimity for the declaration of constitutionality by the Supreme Court.
3.	Change 'Public Authority' to 'Public Administration' and '3 functions' to '3 powers' in the Political Institut

[2015-06-09 18:15] mayapurmedia commented on #101
17) Regarding guns. There should be centralized database where seller of the gun can check if buyer is allowed by law to have gun (means buyer is not forbidden to have gun because of crime or medical situation).

[2015-06-09 18:17] KacperZajc commented on #101
@mayapurmedia I agree but this is not for the Constitution to regulate.

[2015-06-09 18:36] KacperZajc commented on #64
what do you guys think of this?

“No law shall allow any body of any branch of the Public Administration to assign a number to any law-abiding citizen without his or her consent; no person shall be compelled to identify themselves to any agent of the Public Administration, otherwise than in pursuit of a warrant issued by a judge of the Criminal Court; nor shall any person be compelled to procure,

[2015-06-09 18:50] liberlandcitizen commented on #64
How do you define lawabiding?  I went over the speed limit today - am I lawabiding?

Also does this demand that proof of a warrant is shown to the person before they have to identify themselves?

[2015-06-09 18:54] KacperZajc commented on #64
yes it does
law-abiding means convicted in a court of law
any better wording?

[2015-06-09 19:02] mayapurmedia commented on #64
@KacperZajc But still, when crime is done, how judge can issue warrant without knowing name of suspect?

[2015-06-09 19:04] KacperZajc commented on #64
There is a misunderstanding here.
A crime is committed.
The police suspect person X and request a warrant.
The judge issues a warrant for the arrest of person X.
The police take the warrant and approaches person X.
They show him/her the warrant and demand he identify himself.

[2015-06-09 19:06] liberlandcitizen commented on #64
Will police (or sheriffs) have arresting powers?  If so can they demand identification upon arrest?

[2015-06-09 19:07] KacperZajc commented on #64
well this is a good question, it seems they do if they exercise their power to arrest for no more than 24h

[2015-06-09 19:09] liberlandcitizen commented on #64
So then they would either need authority to demand identification, or according to above would still have to go before a judge (which might be a good thing...not sure).

[2015-06-09 19:10] KacperZajc commented on #64
unless we construe law-abiding as a person under suspicion but apparently it needs further qualification

[2015-06-09 19:13] liberlandcitizen commented on #64
I would not leave it up to police to decide who is and is not law abiding.  This would result in people having to identify themselves to police at all times, because who could say if it was required or not?

[2015-06-09 19:21] KacperZajc commented on #64
“No law shall allow any body of any branch of the Public Administration to assign a number to any citizen, nor shall he or she be required to procure, carry, or otherwise maintain identification materials of any form without his or her consent unless upon the conviction in a court of law;
no person shall be compelled to identify themselves to any agent of the Public Administration, otherwise than

[2015-06-09 19:29] liberlandcitizen commented on #64
I would say change "upon probable cause" to "upon arrest with probable cause"

It's impossible for a citizen to know if police actually have probable cause and police lie.  Example: you are walking down the street and the police stop you and ask you to identify yourself.  Do they have probable cause?  How can you know?  Do you match the description of a criminal?  Are they just picking on you?  Th

[2015-06-09 19:30] KacperZajc commented on #64
yeah I like that :)

so:

“No law shall allow any body of any branch of the Public Administration to assign a number to any citizen, nor shall he or she be required to procure, carry, or otherwise maintain identification materials of any form without his or her consent unless upon the conviction in a court of law; no person shall be compelled to identify themselves to any agent of the Public Admin

[2015-06-09 19:38] liberlandcitizen commented on #64
Sorry for the many comments but "upon conviction in a court of law" - does this mean once convicted you forever lose this right?  Even after you are released?

[2015-06-09 19:43] KacperZajc commented on #99
"No person shall be tried for any criminal offence any later than a year since the warrant for custody of said person was executed and the person was taken into custody; the time is suspended upon any successful attempt to flee from the authorities"

???

[2015-06-09 19:44] KacperZajc commented on #64
yes and this would be exercise in regard of sexual offenders for example;
I doubt there is any other instance this could be used?

[2015-06-09 19:57] liberlandcitizen commented on #64
Under the language above, it could be used for any crime.  Littering.  Speeding.  Not wearing a seatbelt.  I am not saying we'll have those laws, but if we do and then people are convicted of it, they theoretically could forever lose their privacy rights.

Convicted sexual predators will become a matter of public record right?  A private citizen can make a website with the names of sexual preditor

[2015-06-09 20:00] KacperZajc commented on #64
we could add "upon the conviction in a court of law and for the duration of the sentence only"
then a judge could make that sexual predators are matter of public database as a part of the sentence but otherwise it would automatically ceased
what do you think?

[2015-06-09 20:03] liberlandcitizen commented on #64
I think that's pretty good - but it may contradict the last part of the above text:

"all data collected by any body of any branch of the Public Administration shall be used only for the direct and necessary purposes for which it was originally collected, and shall be kept confidential and shared only with the consent of the rightful owner.”

Are arrest records data that is collected by the govern

[2015-06-09 20:04] KacperZajc commented on #64
voting would be covered by consent, this is not a problem
yeah we should add 'or in pursuit of a court order' at the very end

[2015-06-09 20:05] liberlandcitizen commented on #64
Much of this may contradict:

§I.8. The Citizens of the Free Republic of Liberland shall have the access to information which relates to any aspect of the functioning of any body of any branch of the Public Administration which is not classified; and no information shall be classified unless it is absolutely necessary for the purposes of national security.

[2015-06-09 20:07] KacperZajc commented on #64
how come?
functioning of a body of PA does not include the list of names of prisoners or anything like that
plus one article can be read subject to another

[2015-06-09 20:10] liberlandcitizen commented on #64
I suppose you are right.  Thank you for addressing my concerns.

[2015-06-09 20:20] KacperZajc commented on #64
“No law shall allow any body of any branch of the Public Administration to assign a number to any citizen, nor shall he or she be required to procure, carry, or otherwise maintain identification materials of any form without his or her consent unless upon the conviction in a court of law and for the duration of the sentence only; no person shall be compelled to identify themselves to any agent of

[2015-06-09 20:50] liberlandcitizen commented on #64
So I guess we'll choose our own numbers for our passports?  Not have any?

[2015-06-09 20:51] KacperZajc commented on #64
consent...

[2015-06-09 20:52] liberlandcitizen commented on #64
ok that makes sense.

[2015-06-09 20:54] KacperZajc commented on #103
we could just change from 'all parties involved' to 'sending and receiving parties'

[2015-06-09 21:07] liberlandcitizen commented on #103
That could lead to things like online ads becoming illegal.  I truly favor free transmission of all material.

We would do well to only have:  "§II.13. No law shall regulate the rules concerning uploading and/or transmitting any materials through the Internet and/or any other medium of exchange; nor shall it regulate the rules concerning displaying and/or accessing such material."

[2015-06-09 21:09] KacperZajc commented on #103
I already considered it.
It would allow paedophilia.
We cant.

[2015-06-09 21:15] liberlandcitizen commented on #103
Raping/molesting/taking photos of children will be illegal because they cannot consent.  If people are doing that, they can and should be prosecuted.  However I wouldn't regulate the internet simply because people may transmit photos/videos of their crimes.  Why not just prosecute the actual crime itself and leave the internet out of it?

[2015-06-09 21:16] KacperZajc commented on #103
this is designed to prevent the government from regulating the Internet; we just want to make one small exception

[2015-06-09 21:55] liberlandcitizen commented on #103
As much as I hate child pornography - I believe it is better dealt with offline.  Still, since I probably won't win that argument.....may I make this suggestion....

Make child pornography/molestation/rape a very clear and well defined illegal act elsewhere in the constitution.  And then refer to that part of the constitution here in this section about the internet....and note that the child rape/

[2015-06-09 22:30] Jean-LouisMesic commented on #58
Naturally, someone will. If there's a will for it, someone can get elected by said will. The lust for power in the federal government would be too great not to refuse.

[2015-06-09 22:52] Jean-LouisMesic commented on #101
@KacperZajc (9) Of course, but does this mean that the government is allowed to ban table sugar for all minors? There need to be some provisions. There should be ample evidence that taking some form of intervening action will alleviate some problem in youth health or well-being. This deserves more discussion.

@KacperZajc (11) I was referencing what I believe should be included in whatever we dete

[2015-06-09 23:01] KacperZajc commented on #101
@Jean-LouisMesic
(9) I dont think we are able to stipulate that in the Constitution unfortunately.
(11) same here
(14) we will add 'under direct threat'
(17) I really like BE THEY NOW HISTORIC, CONTEMPORARY, AND/OR EXPERIMENTAL, REGARDLESS OF CONDITION, MEANS OF ARMAMENT, OR PRIMARY LEGAL UTILITY

[2015-06-09 23:02] Jean-LouisMesic commented on #102
It is not controlling the entire market of legal representatives, unlike fully-socialized healthcare and education. When everyone is placed on the system, undoubtedly quality falls. But this is, or rather, should be different.

It should be done on the provision that payment could not be rendered at the time of need. This makes all those able to pay for legal counsel pay for legal counsel, lowerin

[2015-06-09 23:04] Jean-LouisMesic commented on #101
@KacperZajc Sounds fine by me.

[2015-06-09 23:15] Jean-LouisMesic commented on #64
I suppose we will require visitors and travelers to carry visas, going by the first clause?

[2015-06-09 23:21] Jean-LouisMesic commented on #64
I also agree with @liberlandcitizen that I.8 may or may not contradict a bit.

"All data collected [by the state]...shall be kept confidential...and shared only with...consent...or in pursuit of a court order."

I would add "or otherwise in accordance with the provisions of this Constitution" just to be sure that there are no conflicts.

Additionally, does your suggestion of making sex offender da

[2015-06-09 23:25] KacperZajc commented on #64
this clause is refers to citizens only
yeah we can add "or otherwise in accordance with the provisions of this Constitution"
sex offenders is not a matter for the constitution I just made an observation that their record could be made public as a part of their sentence

[2015-06-09 23:25] Jean-LouisMesic commented on #99
"No person shall be tried for any criminal offenSe any later than a year since the warrant for custody of said person was executed and the person was taken into custody. THIS DEADLINE SHALL BE RENEWED FOR ANY AND ALL SUBSEQUENT WARRANTS FOR CUSTODY IN THE EVENT OF ESCAPE OR SUBSEQUENT OFFENSE."

Offense is spelled with an s, by the way, let's kill the typos while we're at it.

[2015-06-09 23:27] jsenko commented on #102
If we simply omit the "without expense" part and leave the "to be provided with the services", than IMHO implies that the services must be provided in any case (even if the accused refuses to pay) but leaves the possibility of charging him/her for the services at any time after the trial.
One problem that I see are recursive trials where the next trial will be about paying for the services for the

[2015-06-09 23:28] KacperZajc commented on #99
it's offenCe in British English mate...
But yes I like your wording.

[2015-06-09 23:29] Jean-LouisMesic commented on #99
My Google Chrome is going nuts with the c, xD But it stands.

[2015-06-09 23:41] Jean-LouisMesic commented on #102
@jsenko That makes it possible for an advocate to post-facto charge a client, where no consent or plan to pay was made before service. It's better to require that a consensus be reached on compensation method and period before any service is rendered, to protect clients from this form of fraud. You can still require that services be rendered, but an agreement must be reached by both parties. If th

[2015-06-09 23:41] #101 closed

[2015-06-09 23:42] #99 closed

[2015-06-09 23:42] #91 closed

[2015-06-09 23:42] #64 closed

[2015-06-09 23:46] Jean-LouisMesic commented on #103
I've suggested adding a separate "Persons Not Of Age" Bill of Rights elsewhere, and I still find it to be relevant. This could be included in there somewhere.

[2015-06-09 23:51] #6 closed

[2015-06-09 23:56] Jean-LouisMesic commented on #106
Yea to 1., 2., 3., 4., 5., 7., 10., 12., 13., 14., 15., and 17.

No opposition to 6. and 8.

Still questioning but unable to debate 9., and 11.

(16) this precludes the consent of any parties referenced in or involved in gathering/manufacturing said data. Including non-consenting persons of age pictured therein. This doesn't fully cover your special case; peeping tom's with toilet cameras and thei

[2015-06-09 23:56] liberlandcitizen commented on #102
@Jean-LouisMesic - you don't have to control an entire market to mess it up.  In the US, the government pays for the healthcare of 1/3 of the population and the system garbage because of it.

[2015-06-09 23:58] jsenko commented on #103
Doesn't the "No law shall regulate" without the consent part prevent laws concerning "secrecy of correspondence" for example? In that case hacking would be completely legal and you won't be able to pass a law preventing it. A possible solution may be to explicitly state  a distinction between transmitting the information and acting on it. There can also be an exception for transmitting unlawfuly o

[2015-06-10 00:05] jsenko commented on #102
@Jean-LouisMesic you may need a service of an interpreter in the civil case of the refusal of the payment:)

[2015-06-10 00:13] Jean-LouisMesic commented on #103
@jsenko The sending party did not consent to the receipt of the letter by anyone other than to whom they sent it, thus this does not block secrecy of correspondence regulation, nor hacking.

[2015-06-10 00:15] Jean-LouisMesic commented on #102
That is not a part of criminal proceedings, so the interpreter would not be provided by the government anyway.

Jusden K. Messick
Washington College
Class of 2018
Chemistry Major

----- Original Message -----

From: "Jakub Senko" <notifications@github.com>
To: "liberland/constitution" <constitution@noreply.github.com>
Cc: "Jean-LouisMesic" <jmessick2@washcoll.edu>
Sent: Tuesday, June 9, 2015 8:05:

[2015-06-10 00:17] Jean-LouisMesic commented on #102
That is not a part of criminal proceedings, and thus the government would not be in a position to provide an interpreter.

[2015-06-10 00:18] Jean-LouisMesic commented on #102
@jsenko Honestly, I'm waiting for someone else to chime in on my side. I'm the first to admit that I am not good at extended debates.

[2015-06-10 00:27] liberlandcitizen commented on #103
Hacking will be legal?  I don't know if that's true but people ought to secure their own data and protect themselves from being hacked in the first place.

Please - let's not regulate the internet, and kill off things like wikileaks in the name of protecting the people who....poor them....aren't "smart enough" to figure out how to protect their servers/computers/data.

[2015-06-10 05:15] terrorist96 commented on #106
(19) "No person of age shall be deprived of the right to own, manufacture, sell, transport, and bear any small arms, be they now historic, contemporary and/or experimental and regardless of their condition, unless decided otherwise by a decision of the court where law allows it as punishment for crime, or on medical grounds where a person would constitute a threat to others; licensing shall not be

[2015-06-10 05:39] terrorist96 opened #107 "My list of Ideal Government characteristics"
The following is a list I have put together over some time. Some of the points may already be included in the draft constitution, some may not be applicable. I'd like to see as many of them incorporated in some way.
I have attempted to strike anything that's already been incorporated or isn't relevant.

* ~~Term limits for all elected government servants~~
* ~~All laws should apply to everyone~~
*

[2015-06-10 05:43] terrorist96 opened #108 "§III.11. No person shall be put into custody or tried before they are informed of their rights."
Does arresting them count as being put into custody? If yes, what if they are running away? How can you inform them of their rights prior to successfully detaining them?

[2015-06-10 05:47] terrorist96 opened #109 "Convicted criminals' liberty"
This was in the first draft:

§26. Convicted criminals shall not have their liberty restricted except so far as is necessary for the protection of others, nor their property seized except so far as it is necessary to make restitution to the victim and/or to pay the costs of the criminal's capture and trial.

Why was it removed in version 2.0?

[2015-06-10 06:35] terrorist96 commented on #109
Also, these sections were removed too:

§6. No law shall abridge the right of each person to do as he or she chooses with his or her own person and property, so long as he or she does not interfere, by force or fraud, or the threat thereof, with the equal right of others to do as they choose with their own persons and property.
§15. No law shall restrict or hamper the free and peaceful movement of

[2015-06-10 08:15] saintego commented on #58
I think cantons are great idea in case of future success. What if some new territory would like to join liberland? And it'll be nice to have cantons with veto power as another level of protection against growing state.

[2015-06-10 08:51] KacperZajc commented on #109
6 is restated
15 and 19 were removed because of PR issues as requested by the President

[2015-06-10 08:51] KacperZajc commented on #108
you tell them their rights as you arresting them

[2015-06-10 08:53] saintego commented on #103
I prefer also free Internet. Hacking should be covered by violating private property and paedophilia by some definition of rights of kids

[2015-06-10 09:13] KacperZajc commented on #106
@Jean-LouisMesic you're right about 16, I'll leave it for now and think it over

[2015-06-10 09:48] #106 closed

[2015-06-10 09:49] #109 closed

[2015-06-10 09:49] #108 closed

[2015-06-10 09:53] KacperZajc opened #111 "Points for further debate"
1.   Abolish the free of charge service of an interpreter and legal counselling in III.14.
2.   Oblige the Cabinet to consider a bill proposal put forward by 5 Assembly Representatives (no obligation to actually submit such a bill) .
3.   Make the Justices of the Supreme Court who are to replace the ones removed in a referendum directly elected.
4.   Securing freedom of the Internet

[2015-06-10 09:54] KacperZajc commented on #98
done

[2015-06-10 09:54] #98 closed

[2015-06-10 13:17] cpacia commented on #58
@saintego the cantons could form some kind of organization in which they make collective decisions like that.

Also, polycentric law would answer the question that Kacper posed:

That would not be a worry in a polycentric system.

[2015-06-10 13:36] liberlandcitizen commented on #107
Yes to jury nullification.  It is a great check and balance to give to the population.  But is this really allowed for/encouraged in the current draft of the constitution?

[2015-06-10 14:03] terrorist96 commented on #109
26 was removed because of PR too?

[2015-06-10 14:10] terrorist96 commented on #107
§VI.15(4) The Jury shall retain the unequivocal right to acquit, and shall be informed of this right;

Also, it should be added that the jury may not be punished/penalized for their verdict.

[2015-06-10 16:10] saintego commented on #58
People usually like their liberty, but prefer to take liberty of other people. Yes there can be fully communist canton and rest of people can stay free, but problem will be if majority will like to have communists liberland.

[2015-06-10 18:01] terrorist96 commented on #102
My state offers free legal representation (for crimes which the punishment includes the possibility of prison time) to those who can't afford it. However, if you are found guilty, you are required to pay for your representation after the fact. The theory being that an innocent person who can't afford an attorney shouldn't have their liberty stripped from them (by denying them representation, thus

[2015-06-10 18:03] cpacia commented on #58
One of the things that like (and the canton idea is largely based on), that Kacper doesn't like is doing away with the concept of "legislation" and merging criminal law into civil law.

It used to be the case in some countries that crimes against one person and another (such as robbery) were not part of a criminal code drafted by the politicians. Instead criminal complaints were brought to the cou

[2015-06-10 19:43] terrorist96 opened #114 "Monopolies"
Can we all agree that monopolies are bad? How can they be addressed?

[2015-06-10 22:01] FellowTraveler commented on #58
Imagine a murder victim with no family.

Who brings the complaint on his behalf?

[2015-06-10 22:13] saintego commented on #58
You can homestead right of killed person and sue murder.

[2015-06-10 22:27] cpacia commented on #58
It could be the victim's estate. I agree with @saintego that from a purely philosophical perspective homesteading is probably the way to. The ability to homestead restitution where no one else claims it creates an incentive to bring a complaint and not let the perp get away with it.

From a practical perspective, there could just be a social convention which says a public prosecutor (either appoin

[2015-06-10 22:58] FellowTraveler commented on #114
Long-lasting monopolies are imposed by the State. (AT&T, water company, etc.)

Short-lasting monopolies are naturally destroyed over time by market forces.

[2015-06-10 23:17] FellowTraveler commented on #101
We should also specifically eliminate gun registration. The current language says that "licensing" cannot be used to infringe. We should change that to "licensing of gun owners and registration of guns" cannot be used to infringe.

The reason is because gun registration is a common tactic of authoritarian regimes. For example, the Nazis enforced gun registration, and then they later used the recor

[2015-06-10 23:33] terrorist96 commented on #114
What if market forces are towards conglomerating businesses, so in the end you only have one company for every product/service and if any new companies appear, they quickly get bought out and merged into the monopoly? From my experience, the tendency is towards centralization.

[2015-06-11 01:48] liberlandcitizen commented on #114
Yes we are all in agreement that monopolies are bad.  Probably where we disagree is what causes monopolies.  Many of us believe that with a truly free market, monopolies will not exist.

[2015-06-11 04:07] terrorist96 commented on #114
How so? From my understanding, the USA was pretty laissez-faire in the early days but monopolies started becoming a problem, which required them to take action to break them up. Maybe I have my history wrong?

[2015-06-11 04:39] Jean-LouisMesic commented on #109
26 is removed because they wanted to leave the ability to take away gun rights from convicted felons.

[2015-06-11 04:45] Jean-LouisMesic commented on #107
Alot of this only applies to the US Constitution, which is fundamentally different from what we are doing.

Re-read the Constitution and go back an revise your list, so we can better understand what you want to discuss.

[2015-06-11 04:51] Jean-LouisMesic commented on #101
Good point. Perhaps place this in a new pull request?

[2015-06-11 04:56] Jean-LouisMesic commented on #114
Market forces don't drive towards single firm conglomerations.

If there is profit to be had in an industry, undoubtedly, some industrious fellow will exploit those opportunities and compete with established firms. Because of the mechanics of economies vs. diseconomies of scale, obscenely large scale firms like monopolies have to work harder to maintain lower costs than firms that produce at lower

[2015-06-11 05:01] Jean-LouisMesic commented on #111
Yea to 2., 3.

Absolute Nay to 1. Amend to require an agreement to be reached between advocate and client detailing compensation period and amount.

[2015-06-11 05:04] Jean-LouisMesic commented on #114
USA was by no means laissez faire, even in the early days. There are famous tales of the national guard taking up arms to enforce regulations prohibiting the distilling of whiskey.

[2015-06-11 05:48] FellowTraveler commented on #114
The USA has a long history of creating monopolies. AT&T is a great example. From Wikipedia:

_In parts of the United States, AT&T had a legal monopoly on the provision of local telephone service and in long distance until 1984 when local service was vertically divested. The divested local companies continued to be protected in lesser degree from competition in the local exchange market as a public

[2015-06-11 06:14] terrorist96 commented on #107
I made some more edits to my OP,  hope it's more clear now.

Another idea I had:

*No one should be kept in jail prior to trial for the sole purpose that they cannot economically afford to pay bail; unless the accused is a flight risk or a danger to the general public; release upon one's own recognizance shall be the preferred option; bounty hunters shall have the ability to attempt recovery of an

[2015-06-11 06:19] terrorist96 commented on #109
"except so far as is necessary for the protection of others"

I feel like that allows for the option to disarm violent felons.

[2015-06-11 06:42] terrorist96 commented on #111
1. Nay

My state offers free legal representation (for crimes which the punishment includes the possibility of prison time) to those who can't afford it. However, if you are found guilty, you are required to pay for your representation after the fact. The theory being that an innocent person who can't afford an attorney shouldn't have their liberty stripped from them (by denying them representatio

[2015-06-11 06:58] terrorist96 commented on #114
Is the difference in regulation directly attributable to their tendency towards monopolies? Can we prove that? What other examples of "unregulated" sectors are there to compare to?

[2015-06-11 07:21] terrorist96 commented on #101
I did a quick pull.

[2015-06-11 12:36] tinkyholloway commented on #58
@cpacia this idea and the polycentric model are the best ideas I've read since I read "For a New Liberty". Wow. I wish there was a place we could try these out.

[2015-06-11 12:54] Jean-LouisMesic commented on #111
@terrorist96 4. is much more complicated than that, something is already to the tune of what you said. It leaves open a lot of victim crimes. There was a larger pull request with great discussion on there, but unfortunately, I'm unable to find it at the moment.

[2015-06-11 13:16] Jean-LouisMesic commented on #107
*Term limits for all elected government servants.
Done.

*All laws should apply to everyone
Yea. Needs to be included.

*Bills must be publicly available online and read before being voted on (read out loud during a quorum, prior to voting)
First part isn't exactly a matter for any constitution. Perhaps "All Bills proposed by the Cabinet shall be made public in print prior to the Assembly's voting

[2015-06-11 13:17] Jean-LouisMesic commented on #107
"Only taxes to be paid to governments are those which you support. If you don't want your tax money to go towards DEA, then you don't send money to them. This way, only programs/departments that the public supports will be funded"

This allows people with special interests and large amounts of money to fund programs that favor themselves and are a detriment to others, like stimulus packages.

[2015-06-11 13:18] Jean-LouisMesic opened #116 "Pardoning"
Who has the power of issuing pardon?

[2015-06-11 13:19] Jean-LouisMesic commented on #109
I don't know. You can look for the pull request that deleted this provision. I'll check myself later.

[2015-06-11 13:20] Jean-LouisMesic commented on #114
Yes. No regulation has ever been posed without a firm expressing interest in it through lobbying.

Regulations benefit only established firms, and harm only potential entrepreneurs.

[2015-06-11 13:46] liberlandcitizen commented on #111
Just to recap here my suggestions for these points:

1)  No socialized legal services
2)  Seems fair to add "competition" to bills being offered
3)  No political campaigns for judges.  Turns them into politicians.
4)  100% free and unregulated internet.  Prohibit child rape/molestation/porn eleswhere

[2015-06-11 17:11] terrorist96 commented on #109
I couldn't find a reference to it when doing a search.

[2015-06-11 17:32] terrorist96 commented on #111
@liberlandcitizen you're against socialized legal services but in favor of socialized (free) Internet?

[2015-06-11 18:15] KacperZajc commented on #116
no one
this is always exercised for political reasons (e.g. Ford's pardon for Nixon)
it shouldnt exist in our Constitution

[2015-06-11 18:32] terrorist96 commented on #116
What if that power was exercised by the people, not a politician? The government imprisons criminals on behalf of the general population. If the majority of the population doesn't want someone to be in prison for whatever reason, they should be able to express that feeling through referendum.

[2015-06-11 18:33] KacperZajc commented on #116
pardon by people is called jury nullification and we already embodied that

[2015-06-11 18:59] terrorist96 commented on #116
That's true

[2015-06-11 19:00] KacperZajc commented on #116
:)

[2015-06-11 19:05] liberlandcitizen commented on #111
@terrorist96 ha no - not free as in "free" of charge/socialized.  Free as in no regulation - no laws pertaining to people sending zeros and ones to each other.  I think the government should keep its hands off.

[2015-06-11 19:07] KacperZajc commented on #111
what if we approach the problem this way:

No law shall regulate radio, television, the Internet or any other medium of exchange of information; no rules shall regulate the rules concerning uploading, transmitting, displaying, accessing and/or publishing such information; nor shall any law introduce licensing and/or registration; nothing in this provision shall apply to the protection of sources r

[2015-06-11 19:10] KacperZajc commented on #103
see #111 for further debate on the subject

[2015-06-11 19:10] #103 closed

[2015-06-11 19:10] #116 closed

[2015-06-11 19:12] #96 closed

[2015-06-11 19:24] liberlandcitizen commented on #111
"nothing in this provision shall apply to the protection of sources rules"

Could you please explain what this means?

"childhood pornography"..."protection of persons under age."   redundant.

"accessing information without consent of the rightful owner"   I beg of you to drop this.  The beauty of the internet is that you can access the world's information.  Edward Snowden would be in jail in Lib

[2015-06-11 19:26] KacperZajc commented on #111
1) this provision ban any rules, the first exception says that we can introduce rules concerning protection of sources (maybe we need different wording)
2) I removed "childhood pornography", "protection of persons under age" includes childhood pornography
3) I want to prevent hacking, this is what I meant

[2015-06-11 19:43] KacperZajc commented on #102
I think for now, I would like to leave the free services. It says 'where appropriate' so there might be further rules on paying back etc.

[2015-06-11 19:51] liberlandcitizen commented on #111
1)  We should try to use different words, as I'm still unsure what this means.  Sources meaning.....source code?  Journalist sources?

2)  Perfect

3)  Well if you must have something about hacking...maybe just use the word hacking instead of "accessing information without consent of the rightful owner"  ???

[2015-06-11 19:52] KacperZajc commented on #111
hacking is a narrow term;
we have provisions protecting whistle-blowers

[2015-06-11 19:55] Jean-LouisMesic commented on #116
Excellent. I just wanted to hear the rationale behind its exclusion. I agree.

[2015-06-11 19:55] Jean-LouisMesic commented on #109
Perhaps it was removed before the github upload.

[2015-06-11 19:59] KacperZajc opened #118 "Further changes to the 3.0 Draft"
To introduce:

1.   No law shall regulate any printed materials, radio, television, the Internet or any other medium of exchange of information; no rules shall regulate the rules concerning uploading, transmitting, displaying, accessing and/or publishing such information; nor shall any law introduce licensing and/or registration to infringe upon these rights; nothing in this provision shall preven

[2015-06-11 19:59] KacperZajc commented on #111
see #118

[2015-06-11 19:59] #111 closed

[2015-06-11 20:00] KacperZajc commented on #107
see #118

[2015-06-11 20:00] KacperZajc commented on #95
see #118

[2015-06-11 20:01] KacperZajc commented on #103
see #118

[2015-06-11 20:27] Jean-LouisMesic commented on #118
(1) "protection of sources" could be construed to introduce copyright law in its most twisted interpretation.

(2) I like these both, but why are they in the same section?

(3) "No agent of the Public Administration shall operate undercover without a warrant issued by a court of the Free Republic of Liberland, and only provided that they are pursuing a specific legal and constitutional end. No age

[2015-06-11 23:44] terrorist96 opened #119 "§II.15. No law shall prohibit video and/or audio recording of any agent of the Public Administration in public space and whilst on duty."
This needs to be modified. As it stands, it allows for prohibiting recording in public in general. Here's my suggestion:

§II.15. No law shall prohibit video and/or audio recording in a public space.

[2015-06-12 00:01] terrorist96 commented on #118
Gun free zones should be allowed as a matter of property rights. PA shall not be allowed to institute any gun free zones except in sensitive areas, which shall require armed guards/metal detectors at any and all entrances to said zone. (debatable)
Police and citizens should have access to the same types of arms.
I feel like there should be something stating that the state has the right to break up

[2015-06-12 00:31] terrorist96 opened #120 "http://liberlandpress.com/2015/06/liberlands-constitution-is-it-libertarian-enough/"
http://liberlandpress.com/2015/06/liberlands-constitution-is-it-libertarian-enough/

We should address the points brought up in this article.
The entire country being a free speech zone has already been added.
The Internet is being debated in other threads.
I made a separate thread about the public recording.
Death penalty is unconstitutional currently. No laws written have execution as a punishme

[2015-06-12 00:33] terrorist96 commented on #119
What about someone recording in a public restroom? There should be exceptions. Hmm..

[2015-06-12 02:46] liberlandcitizen commented on #120
I wrote this article :)

We (Liberland Press) received an e-mail already from @KacperZajc saying that he would consider these points, and I am very appreciative that they are being considered.  Also, it's really an honor to now be sharing my thoughts here on github and I appreciate the open forum.

[2015-06-12 10:38] KacperZajc commented on #120
@liberlandcitizen so you probably can tell that most of your concerns have been accommodated in the past few days :)

[2015-06-12 10:42] KacperZajc commented on #119
if we adopt your wording, the government will have video cameras on every corner

[2015-06-12 10:46] KacperZajc commented on #118
what if we add "the owner of the premises shall determine whether arms can be carried on such premises except for the members of the law enforcement where acting upon warrant" ??

Im processing the rest of the point.

[2015-06-12 13:10] Jean-LouisMesic commented on #118
@terrorist96 Allowing the state to indiscriminately destroy monopolies allows it to destroy any firm that is not exactly like another in the same market via the mechanics of monopolistic competition. No.

@terrorist96 I agree on the issue of police vs. people armament.

@KacperZajc @terrorist96 I like Kacper's idea for gun ownership, but I still am hazy about gun-free public property. Police stati

[2015-06-12 13:15] Jean-LouisMesic commented on #120
The State should be given no additional right to kill. Not to mention the death penalty is expensive and ineffective in deterring crimes heinous enough to warrant it. If someone is messed up enough to kill 20 people, a death penalty is not going to deter them. Perhaps it could encourage them in their twisted worldview.

The rest of your points are either addressed or in discussion elsewhere.

[2015-06-12 13:29] Jean-LouisMesic commented on #119
@terrorist96 Use pull requests for these so we can easily see the original wording. I'll include it below for everyone else's convenience.

§II.15. No law shall prohibit video and/or audio recording of any agent of the Public Administration in public space and whilst on duty.

If it is public space, then agents of the PA are bound to be there. Thus, enacting a law prohibiting video and/or audio re

[2015-06-12 13:33] Jean-LouisMesic commented on #119
Need to revise to stipulate that any evidence obtained using footage from accountability devices is inadmissible in court unless it was obtained while the agent was actively pursuing a warrant relevant to the specific case to which the evidence is relevant.

[2015-06-12 14:17] KacperZajc commented on #120
Personally Im for the death penalty but it would be difficult in terms of PR so the President intentionally left this issue for later.

[2015-06-12 15:54] liberlandcitizen commented on #120
I can't think of anything more "cruel and unusual" than taking somebody's life.

Seems weird to me that we are trying to have the world's "smallest" government but would grant that same government the greatest of powers: murdering somebody.

[2015-06-13 00:02] terrorist96 commented on #119
"Nothing in this section shall be construed to allow recording of people when they have a reasonable expectation of privacy" (like a public restroom)

[2015-06-13 00:19] KacperZajc commented on #119
isnt your idea a pass for general surveillance?
It will turn Liberland into the Orwellian state

[2015-06-13 00:21] KacperZajc commented on #118
@Jean-LouisMesic could you elaborate on your point (3)?
does it have to be so detailed?
please explain every part

[2015-06-13 01:26] terrorist96 commented on #119
How can we we reconcile the freedom of people to freely record in public vs facial recognition cameras on every street corner?

[2015-06-13 02:29] FellowTraveler commented on #120
It's going to have that power anyway. Even the smallest government authority is backed up by the death penalty.

For example, if you park illegally, you get a parking ticket. It's only a fine -- but what if you refuse to pay the fine? The court will issue a summons for you to appear in court. But what if you refuse to appear? The court will put out a warrant for your arrest, and the government wil

[2015-06-13 02:32] FellowTraveler commented on #118
"Gun free zone" == mass murder zone.

[2015-06-13 02:36] FellowTraveler commented on #114
Regulatory compliance increases costs. This increases the barrier to entry. This necessarily benefits established players at the expense of competition from smaller businesses. See banks, taxis, etc. The most heavily regulated industries are always the ones with the highest prices and the worst service.

Regulated industries are regulated by the largest players on that industry. There is usually a

[2015-06-13 02:39] FellowTraveler commented on #118
Regarding testimony by law enforcement -- what if the testimony is backed up by other evidence? For example, perhaps there is no audio or video evidence, but there is other evidence such as a fingerprint in blood, or the testimony of other witnesses, or a confession, etc. It seems there are many cases like this. I do like where this is going but I am concerned about the specifics.

[2015-06-13 02:44] FellowTraveler commented on #58
I'm curious. Let's say a broke and homeless man murders another broke and homeless man. Neither has any wealth. Neither has any family.

What is the incentive to "homestead" the murder? Seems there is nothing to gain from the murderer, since you _"can't squeeze blood from a rock."_

In this case it seems reasonable to me that a prosecutor (or private party) could present the relevant evidence to a

[2015-06-13 04:38] terrorist96 commented on #120
You really nailed it on the head. I say death penalty for homicide in the first degree and higher crimes.

[2015-06-13 04:46] terrorist96 commented on #120
Regarding the entire country being a free speech zone

What if a large group decide to have a spontaneous parade and occupy the roads and blocking all traffic for an extended period of time. Would this be covered by the negative rights violation clause? We need to add

[2015-06-13 04:52] terrorist96 commented on #114
What if any regulation that exists cannot increase your cost? I don't disagree that high regulation = high prices/bad service. That's a given. But what about minimal regulation that isn't a burden? Basic shit like don't run a human sweatshop.

I agree with this too.

[2015-06-13 05:02] terrorist96 commented on #118
This is true, unless it is guarded at all entrances, which is why I propose it be a requirement for all entities that implement a gun free zone (and that were anything to happen, that entity would bear the costs of forcing me to be disarmed) with the exception of private property of an individual.

[2015-06-13 05:09] terrorist96 commented on #118
This is not precluded by the current wording. It only disallows one cop's word against yours - basically tie goes to the defendant. See:

The wording could be worked on a bit.
As it stands now though, it could be construed as allowing two or more cops testifying against you. Could dirty police band together and try to strip you of your liberty? Definitely. You could theoretically have a whole corr

[2015-06-13 05:12] terrorist96 commented on #58
+1

[2015-06-13 07:08] Jean-LouisMesic commented on #58
@FellowTraveler That's what restitution is for. If you homestead a claim, you would be entitled to the restitution.

Seems off to me, though. I don't favor the idea of conglomerating civil and criminal law. It allows criminal punishments to be given to civil disputes. I distrust it.

[2015-06-13 07:09] Jean-LouisMesic commented on #120
Locomotion?

That would mean everyone is entitled to a car. No. If roads are privately owned, then the owners will tell the free-loaders to get the hell off of their property. Take it somewhere else.

[2015-06-13 07:12] Jean-LouisMesic commented on #114
"Minimal regulation"

"Not a burden"

Choose.

Unless you want the regulation to be "Potato farmers will sell potatoes." Because that incurs no additional cost, until said potato farmer attempts to branch.

Regulation ONLY causes more problems. Just let the free market solve its own temporary problems. Tampering leaves the invisible hand tied, or even in some cases entirely severed.

[2015-06-13 07:21] Jean-LouisMesic commented on #118
(3) "No agent of the Public Administration shall operate undercover without a warrant issued by a court of the Free Republic of Liberland, and only provided that they are pursuing a specific legal and constitutional end."

*Undercover operations are unfair, and currently unconstitutional. This allows the court to issue warrants allowing undercover operations to attain specific ends, such as infilt

[2015-06-13 07:21] terrorist96 opened #121 "No law shall allow any body of any branch of the Public Administration to assign a number to any citizen"
How will voting be conducted? You need to limit voting to citizens only, and if it's done online, you need to have them registered and validated (ie assigned a number).
I know there's blockchain voting, but I don't think that avoids the assigning number issue either.

[2015-06-13 07:27] Jean-LouisMesic commented on #118
"Gun free zone" == mass murder zone.
This is true, unless it is guarded at all entrances, which is why I propose it be a requirement for all entities that implement a gun free zone (and that were anything to happen, that entity would bear the costs of forcing me to be disarmed) with the exception of private property of an individual.

If a mandated gun-free area is guarded at all entrances, all th

[2015-06-13 07:34] Jean-LouisMesic commented on #118
"No person shall be PROSECUTED of any criminal offence if the only evidence incriminating him or her is testimony given by aNY NUMBER of memberS of the law enforcement THAT IS UNCORROBORATED BY ANY OTHER PRESENTED PHYSICAL EVIDENCE AND/OR WITNESS TESTIMONY."

It is up to the jury to determine conviction, so this provision must be enacted prior to prosecution.

[2015-06-13 07:40] terrorist96 commented on #120
Locomation: the ability to move from one place to another
Nothing to do with a car. Are you implying that all roads will be private? If so, then there wouldn't be any public areas to exercise free speech. Private property doesn't have to allow protesters, thus rendering the entire country being a free speech zone pointless. Speaking of which, that needs clarification to say that "nothing in this s

[2015-06-13 07:41] Jean-LouisMesic commented on #120
@FellowTraveler Right. But anyone who abides by officers' commands and consents to being tossed in a cage should not have to face the threat twice. All this amounts to is greater fear; you can resist and possibly survive, but most likely die, or you can comply and also die. People consumed by fear and pessimism will undoubtedly resist, and put more people into harms' ways than would have been in d

[2015-06-13 07:49] Jean-LouisMesic commented on #119
@KacperZajc Mine, or @terrorist96 's wording?

Why not just revise it to say "§II.15. No law shall infringe on any person's right to record video and/or audio in any public space. No law shall prohibit video and/or audio recording of any agent of the Public Administration in public space and whilst on duty."

This allows the people to film in public, as well as for the people and the PA to monitor

[2015-06-13 07:51] Jean-LouisMesic commented on #121
We've had long discussions on this, it's still in debate.

@KacperZajc , what happened to that thread, did we just close it without making a decision?

[2015-06-13 07:58] Jean-LouisMesic commented on #120
@terrorist96 Locomotion is a strange word to use there, to me, at least. But it makes sense in context. Detaining is already covered elsewhere. Try "No law shall impede nor infringe on any person's right to private transit of any means and/or purpose, nor shall any agent of the Public Administration unless in pursuit of a warrant issued by a criminal court of the Free Republic of Liberland, or upo

[2015-06-13 08:01] terrorist96 commented on #119
The problem with your wording is that it's redundant. The first clause already includes the narrower circumstance in the second clause.

Recording in restrooms may be socially unacceptable, but with the above wording, it ties the hands of the Assembly from passing a law that forbids recording in a public restroom.

[2015-06-13 08:14] terrorist96 commented on #118
---No undercover agent should be allowed to walk up to someone on the street with a bag of hemp and ask them if they want to buy in. They need a warrant specifically against the person they pursue.
---Allows undercover agents to blow their cover in a shoot-out, in spite of the previous provision.

Hemp isn't illegal. How would they blow their cover?

I would add that the maximum period of time sho

[2015-06-13 08:22] terrorist96 commented on #118
No person shall be prosecuted of any criminal offence if the only evidence incriminating him or her is testimony given by law enforcement that is uncorroborated by any other presented physical and/or digital evidence and/or third party witness testimony.

Do you agree with this wording?

[2015-06-13 08:24] terrorist96 commented on #114
This is an experiment after all, so ok why not? It'd be interesting to see how it turns out.

[2015-06-13 08:52] terrorist96 commented on #120
@KacperZajc which version do you like better?

[2015-06-13 08:56] terrorist96 commented on #120
What if a certain establishment chooses to exclude certain members of the public? Then that location isn't somewhere that "any pedestrian can go."

[2015-06-13 09:43] terrorist96 commented on #107
Not feasible. We'll start getting bills with 1pt font being submitted to the above database, so no one would be able to read them anyway.

It can be changed to, no bills to exceed X number of words, or X number of minutes it takes to read outloud.

Unfeasible, this would result in imbeciles repealing laws against rape and murder in order to pass laws outlawing toilet paper.

This would be somethin

[2015-06-13 12:30] cpacia commented on #58
You could technically claim that the prosecutor is homesteading in that situation. Or it could be any other volunteer group that is will to expend resources to get Justice for someone who they believe was wronged.

What it does is it essentially makes a requirement that someome must believe their rights have been violated for there to be any legal charges brought.

That's much different than where

[2015-06-13 17:24] KacperZajc commented on #121
@Jean-LouisMesic it's already been added - §II.18
@terrorist96 if you want to vote you will have to register which is a voluntary act (see current wording)

[2015-06-13 17:28] KacperZajc commented on #120
I dont see why we need to guarantee any right to 'locomotion' - we guarantee the right to assembly where no negative rights of others are infringed - this seems enough for me

right to locomotion seems really strange to me, especially in a libertarian constitution

[2015-06-13 17:33] KacperZajc commented on #119
I dont like this idea.
What is 'public' in liberland? Most of the areas will be private? So private open spaces are public?
What is more, this will lead to 3 video cameras at every corner which I dont like either.

[2015-06-13 17:37] KacperZajc commented on #118
I like this version :)

[2015-06-13 17:56] KacperZajc commented on #118
as to the gun free zones - we will add:

"the owner of the premises shall determine whether arms can be carried on such premises except for the members of the law enforcement where acting upon warrant"

[2015-06-13 18:15] KacperZajc opened #123 "New changes"
To introduce:

1.	No law shall regulate any printed materials, radio, television, the Internet or any other medium of exchange of information; no law shall regulate the rules concerning uploading, transmitting, displaying, accessing and/or publishing such information; nor shall any law introduce licensing and/or registration to infringe upon these rights; nothing in this provision shall prevent As

[2015-06-13 18:15] #121 closed

[2015-06-13 18:16] #118 closed

[2015-06-13 18:16] #95 closed

[2015-06-13 18:46] terrorist96 commented on #120
It would protect against random check points or a cop trying to detain you based on a hunch.

[2015-06-13 18:47] KacperZajc commented on #120
this is already protected by §II.18 and §III.2

[2015-06-13 18:48] terrorist96 commented on #119
I guess we need to figure out if government is going to pave streets/sidewalks or private groups. If the former, we should have the right to record. If the latter, then it would introduce the problem of the private groups not allowing some people to use those roads.

[2015-06-13 18:51] KacperZajc commented on #119
at this point I really dont think we should change this provision

[2015-06-13 19:08] terrorist96 commented on #123
In order to disallow warrants that don't expire for 5, 10 etc years.

This means that they can disallow a cop who is on duty but not acting in pursuance of a warrant. Is that the intention? And what about a requirement that all entrances be secured to the arms free zone? (with the exclusion of private property)

Please explain.

Would it be subject to referendum veto?

Why is this necessary? Seems

[2015-06-13 19:14] KacperZajc commented on #123
1) Hmmm...
2) Yes this is the intention - policeman without warrant is a guest on the premises and if the owner says no guns are allowed, then he has to agree or leave.
3) We allow new territories to be incorporated to Liberland, I was asked to add that those new territories can be incorporated with different status - special relationship with 'main' Liberland.
4) yes of course, I just want to mak

[2015-06-13 19:16] KacperZajc commented on #123
maybe we should make a separate provision on a general limitation for all warrants? let's discuss

[2015-06-13 19:32] terrorist96 commented on #120
We have similar provisions in America, but it doesn't stop suspicionless checkpoints 100 miles from the border, or random DUI checkpoints anywhere. For the first one, they claim you're not being seized because all they're allowed to do is ask you your citizenship (but you're not required to answer), however it is still an inconvenience being stopped temporarily. As for the DUI checkpoints, they cl

[2015-06-13 19:34] KacperZajc commented on #120
We dont know how the border control (if any) will look like.
Plus we dont know how road traffic will look like.
It's too early for such a provision.

[2015-06-13 20:17] terrorist96 commented on #123
Yes, that would be good, so anytime a warrant is referred to, it doesn't have to be defined, we can look to the warrant provision that stipulates all warrant requirements/conditions/etc

[2015-06-13 20:17] KacperZajc commented on #123
yes this is what I mean :)
I will make a separate issue.

[2015-06-13 20:56] terrorist96 commented on #16
Let's say that a tax bill is passed. How are citizens expected to pay the tax? The government doesn't have an official currency, so could people choose to pay the tax with anything of value they choose? What if there's dispute about he value?

Basically, if the government wants to pass a tax bill, then they'd have to stipulate what currency they want to receive the taxes in, creating a de facto of

[2015-06-13 21:00] Jean-LouisMesic commented on #119
@KacperZajc The government is not a person, specifically why I said "any person" in the first clause. The second clause allows the government to monitor only its own agents in public space.

[2015-06-13 21:03] terrorist96 commented on #119
The government is comprised of persons. Same reason that 'corporations' are 'persons'

[2015-06-13 21:05] Jean-LouisMesic commented on #107
*Any newly passed law shall not go into effect until it has been reviewed by the judicial branch to deem its constitutionality
Unfeasible. Better for the people to challenge the law rather than to hear from an echo box.
"This is already the case."

Not really. Anything that goes before the court results from a case brought up by a citizen. It doesn't go directly to the court from the assembly. Add

[2015-06-13 21:07] Jean-LouisMesic commented on #58
Think about the other side of it, though, there are civil disputes that could no longer be solved under the "must have had rights violated" claim. I don't have time to pose examples, but I will later tonight.

[2015-06-13 21:07] terrorist96 commented on #107
@Jean-LouisMesic

§IV.22. A Bill shall become the law of the Free Republic of Liberland, and shall be known as “Act” once it became ‘under consideration’ in accordance with the procedure provided for in §IV.21, and was declared constitutional by the Supreme Court of the Free Republic of Liberland, hereinafter, "the Supreme Court".
§IV.23. The law of the Free Republic of Liberland shall enter into

[2015-06-13 21:10] terrorist96 commented on #107
Also, I have an issue with this:

What if there's an emergency and the law needs to take effect immediately following its approval by the Supreme Court?

[2015-06-13 21:42] cpacia commented on #58
Keep in mind the only different between a civil and a criminal complaint is an allegation of intent. Hard to see why both cases shouldn't be handled the same way.

[2015-06-13 23:27] #123 closed

[2015-06-13 23:27] KacperZajc commented on #119
this is an obvious loophole

[2015-06-13 23:28] KacperZajc commented on #107
my experience tells me that Bills passed into law in rush make really bad laws (e.g. PATRIOT Act)

[2015-06-13 23:34] terrorist96 commented on #107
That's true, but it's not to say there aren't legitimate laws that need to take effect ASAP. Maybe laws that are passed unanimously should have the option of taking effect immediately?

[2015-06-13 23:38] KacperZajc opened #125 "Warrant limitation"
All warrants in the Free Republic of Liberland shall be issued by a judge of the Criminal Court upon request by a member of the law enforcement or the Office of the Public Prosecutor and shall be supported by evidence of probable cause; every warrant granted for a continuous action shall expire within one year and shall be renewed by another judge in accordance with ordinary procedure.

feel free

[2015-06-13 23:42] KacperZajc commented on #107
We dont have army, we dont have laws allowing for state of war, so I dont see a point.
Only war could make a good case for immediate laws, since we will not be engaging in any war, because we are legally not allowed to do so, this is likely to be used only to infringe civil liberties etc.

[2015-06-13 23:42] terrorist96 commented on #125
"upon the request of a..."

or

"upon request by a..."

[2015-06-13 23:53] terrorist96 commented on #107
I'm sure we could think of some laws (other than war) that would deserve immediate implementation, I just can't think of any right now. Can anyone else?

[2015-06-14 06:17] terrorist96 opened #126 "What's the status on Court cases?"
Just curious, anyone know what's going on with the court cases challenging Croatia's occupation of Liberland? Anything filed with the UN etc?

[2015-06-14 06:44] Jean-LouisMesic commented on #58
Not all divorce cases are based around a violation of rights. Does that mean they should not be taken up?

Not all renter or business practice suits involve a violation of rights, but just the same constitute legitimate disputes for which the Court stands as mediator. It is an entirely different set of circumstances. I prefer leaving the two separate. This way, you can have judges more acquainted

[2015-06-14 06:58] Jean-LouisMesic commented on #118
@terrorist96 "Hemp isn't illegal." No, I didn't know this. /s. I was using a simple example. An undercover agent could conceivably walk up to a person offering services as an assassin to bait a response. Who knows if under normal circumstances a person would consider discussing such a thing? Is that a good enough example of entrapment to you?

"How would they blow their cover?" If an undercover ag

[2015-06-14 07:02] terrorist96 opened #127 "TLD suffix"
Liberland needs a TLD for websites registered there. The TLD .LL is not taken yet.

[2015-06-14 07:05] Jean-LouisMesic commented on #120
@terrorist96 A pedestrian can feasibly walk into a business, be denied service, and asked to leave. That doesn't mean he couldn't have gone there in the first place.

[2015-06-14 07:13] Jean-LouisMesic commented on #121
@KacperZajc Right, I was just confused because the referenced wording is literally the text we decided was horrible, and I was scratching my head as to why we were discussing it again in a new thread. I see that you committed the wording we all agreed upon.

@terrorist96 Just to be safe, I always look at the list of commits to see the most current version of the Constitution. Not sure how old the

[2015-06-14 07:15] Jean-LouisMesic commented on #119
This is something I've been meaning to state for awhile; we need to define our legal terms. What is public? What is a person? What is of age?

[2015-06-14 07:19] terrorist96 commented on #118
Yes, better. :stuck_out_tongue_closed_eyes: I'm not in favor of entrapment.

I think the "unless to protect themselves or others in direct threat." clause covers that.

So you're in favor of diminishing the property rights of a person who doesn't want guns on their property?

[2015-06-14 07:31] Jean-LouisMesic commented on #123
(1) Yea.

(2)  Yea. *pursuance, not pursuit.

(3) "proposed to the Cabinet shall be made public prior to any motions to revise or reject any proposition of the Assembly are taken."

(4) Why third party? I understand that it is to make a distinction between defendant, state, and other, but it could also be construed to preclude victim testimony. Perhaps a better wording is available. Otherwise, yea

[2015-06-14 07:43] Jean-LouisMesic commented on #123
@terrorist90 I agree with the general 1 year expiration on warrants, in fact, I believe it's referenced elsewhere in the Constitution. Amount of time that can go by after the issuance of a warrant and when a trial must occur.

[2015-06-14 07:47] Jean-LouisMesic commented on #16
@terrorist96 It could probably be done in such a way that the government will only accept one commodity as tax, like bitcoin, or something else.

It wouldn't affect person-person transactions, only transactions with the government. It would be the same as someone who only has conceivable uses for silver, or commodity currency turning down feathers or silks as compensation.

[2015-06-14 07:55] terrorist96 commented on #120
You could use the same reasoning for sneaking into a classified facility before being kicked out/arrested. Just playing the strawman :P

[2015-06-14 07:57] Jean-LouisMesic commented on #107
@terrorist96 I must be once again looking at a different draft than you, because I'm not seeing half of those provisions. I think I'm looking at the old one, this time, though. : P

@KacperZajc @terrorist96 It is imperative that the people have time to adjust their lifestyles and to acquaint themselves with new legislation before they are at risk of being arrested for violating any law that they m

[2015-06-14 08:02] Jean-LouisMesic commented on #125
I have a problem with "...a member of the law enforcement..." There should be a chain of command. Perhaps only members of certain rank have the authority to request warrants on the behalf of others.

Why not have every warrant expire at 1 year, with mandated renewal?

[2015-06-14 08:07] Jean-LouisMesic commented on #126
As far as I know, they had, until recently, been enforcing the western border of Siga as referenced in their claim to all territories west of the Danube River as it flowed in 1947. This implied that they were not claiming our territory. However, they did recently arrest 4 Liberland citizens who "illegally" sailed up the Danube and landed in Siga, so now it is implying that they are claiming the te

[2015-06-14 08:08] terrorist96 commented on #123
"and/or victim or third party witness testimony."
?

I'm in favor of putting the Bill of Attainder language back.

[2015-06-14 08:10] Jean-LouisMesic commented on #118
No, I'm in favor of diminishing the property rights of the PA to restrict gun-free zones.

I have already agreed with the right of any private owner to restrict guns on their premises. And I also don't think anyone who does that should be required to hire guards. People who enter those premises consent to the risks, if they feel unsafe, they'll find somewhere else that has guards.

[2015-06-14 08:11] terrorist96 commented on #16
It wouldn't affect person-person transactions, only transactions with the government. It would be the same as someone who only has conceivable uses for silver, or commodity currency turning down feathers or silks as compensation, except the PA is the person, and they only have conceivable uses for specific commodit(ies).

Yes, but it creates the de facto currency of Liberland. Nothing in USA law p

[2015-06-14 08:17] Jean-LouisMesic commented on #120
I suppose. I'll rephrase my meaning. Anywhere a pedestrian could LEGALLY go.

We need to define public space more, because if roads are privately owned, how the hell are police going to get around if they aren't considered "soft" public (where a person can tell you to leave, but you can go and be there until asked to leave unless you've been asked to stay away before)

[2015-06-14 08:18] Jean-LouisMesic commented on #123
@terrorist96 Seems alright to me.

[2015-06-14 08:19] terrorist96 commented on #118
What if an entire mall was a gun free zone? How would you want to address that?

[2015-06-14 08:19] Jean-LouisMesic commented on #125
@terrorist96 I agree, should be "upon request by a" as well.

[2015-06-14 08:24] terrorist96 commented on #120
So what if you go into a public establishment, you're asked to leave, but refuse? It would be considered trespassing, but that's not against the law as it stands currently.So I guess you could still 'legally' go there, but that could open you to prosecution for the property owner's rights.

[2015-06-14 08:25] Jean-LouisMesic commented on #127
This isn't really a matter for the Constitution, but I agree. Also, now's not a bad time to have an actual TLD website.

I'm in favor of .lib, myself : P

[2015-06-14 08:42] Jean-LouisMesic commented on #16
Well, also, not necessarily. For instance, the PA could decide to take multiple commodities. These commodities could change over time, as well, depending on what the government can use at that given moment.

 It's also more the de justo currency-in-demand by the government than de facto. The de facto currency of Liberland is whatever the people choose, because travellers will not be paying taxes,

[2015-06-14 08:45] Jean-LouisMesic commented on #118
A.) People are stupid to go in unprotected if it's unguarded.
B.) People would value guards being posted in and around a mall, so they would be there anyway.
C.) No law currently forces malls to have guards, they just do.
D.) It's private property and up to the owner to decide.

[2015-06-14 08:46] terrorist96 commented on #16
I think you mean to say `de jure`

[2015-06-14 08:48] Jean-LouisMesic commented on #120
That would be trespassing, and ground for arrest/indictment, because it is violating the owners' rights to allow or disallow the presence of any person for any reason. And I also think trespassing is covered in the constitution, actually, we just have no punishments set out for it, which is what the lawmaking process is for once we finalize this document.

[2015-06-14 08:57] Jean-LouisMesic commented on #16
@terrorist96 Yeah, there we go.

It's amazing how often one uses de facto without mentioning de jure, even in the circumstances of global statism.

[2015-06-14 09:12] terrorist96 commented on #118
The sentiment I wish to get across is that if a public property owner wishes to have a gun free zone, it has to actually be gun free. Not "only law abiding citizens disarmed but criminals still armed." This can only be accomplished by guards at all entrances. And the property owner would be liable for any harm caused to a person on their property due to the fact that they were required to be disar

[2015-06-14 09:22] terrorist96 commented on #16
It would be de jure currency in demand by the PA, but de facto currency of the nation as a whole. Sorta like how Croatia arrested people for crossing into liberland from Croatia, it was de facto recognition of Liberland, but not de jure.

[2015-06-14 09:31] KacperZajc commented on #127
please dont do it here

[2015-06-14 09:31] #127 closed

[2015-06-14 09:31] KacperZajc commented on #126
please dont do it here

[2015-06-14 09:31] #126 closed

[2015-06-14 09:33] KacperZajc commented on #125
there must by any member because if you have a policeman outside the house believing there is something bad going on inside, he must be able to call a judge and get permission to enter, there is usually no time to call his supervisor etc, this is exactly what Rand Paul discussed during his last filibuster blocking the PATRIOT Act

[2015-06-14 09:36] KacperZajc commented on #119
well this is not for the constitution to define I believe

[2015-06-14 10:16] mtelka commented on #58
_Not all divorce cases are based around a violation of rights. Does that mean they should not be taken up?_

Since you won't have (state) marriage, you won't have divorce as well.

For civil law (or better: disputes) you do not need a judge, just a mediator.  All decisions by a third party in such cases are heavily arbitrary.  If there is no violation of rights in a case, you do not need a judge,

[2015-06-14 18:32] #125 closed

[2015-06-14 19:34] KacperZajc opened #132 "New provisions for Draft 3.0"
1.   All persons shall have the right to exclude from their property any member of the law enforcement where acting without Warrant and any other person acting without an appropriate order of a court of law.

2.   All persons staying within the territory of the Free Republic of Liberland shall be bound to observe the Constitution and other laws passed by the Assembly in accordance with this Consti

[2015-06-14 21:05] terrorist96 commented on #132
Yea

Yea

Yea

Yea

Yea, though I am concerned about the final clause. The Assembly should be able to vote to hold members of the PA in contempt.

[2015-06-14 23:54] cpacia commented on #58
@jean  there's nothing wrong with selecting the court based on the nature of the cases. For example, criminal complaints go to courts that specialize in criminal law. Contract disputes go to courts familiar with contract law etc.

My claim wasn't that there needs to be uniformity, just that the practice of having a group of elected polictians write the criminal law while leaving civil complaints t

[2015-06-15 00:32] terrorist96 opened #139 "Recordation of the Assembly's affairs and Supreme Court challanges"
Would it be germane to submit a PR stipulating that the affairs of the Assembly and any Supreme Court challenges shall be recorded and made publicly available for consumption (i.e CSPAN) ?
It says the Assembly regulates its own affairs, I don't think they should allow themselves to deliberate in secret.

[2015-06-15 04:12] Jean-LouisMesic commented on #118
I never said I was against guards either, we're both advocating different important points about PA gun-free zones.

My points:
*Needs to be a legitimate internal threat of security.
*Cannot be used for the sake of creating invisible barriers to gun owners.
*Cannot be used in such frequency that gun-free zones actually make gun zones more rare.

By my first point, it is a no-brainer that there wil

[2015-06-15 04:16] Jean-LouisMesic commented on #125
Wouldn't that be covered by probable cause?

Probable cause is meant for cases where there is little time to secure a warrant. What judge is going to be awake at 3 in the morning in case a policeman walking down the street hears a bloodcurdling scream in someone's house?

Warrants are meant for planned actions, where there is time to get court approval.

[2015-06-15 04:40] jean commented on #58
Wrong jean ...

[2015-06-15 04:58] Jean-LouisMesic commented on #132
* All persons shall have a right to exclude from their property any member of the law enforcement where acting without Warrant and any other person acting without an appropriate order of a court of law.

Yea.

* All persons staying within the territory of the Free Republic of Liberland shall be bound to observe the Constitution and other laws passed by the Assembly in accordance with this Constitu

[2015-06-15 05:01] Jean-LouisMesic commented on #16
No it wouldn't. De facto currency would be what you could walk into a store and barter up for a candy bar. What the government accepts as tax has no bearing on that, as you can sell commodities in exchange for bitcoins or some other standard medium that can be given to the government.

[2015-06-15 05:02] Jean-LouisMesic commented on #16
Also, Croatia recently detained people crossing into Siga from our eastern border as well, so that de facto recognition no longer stands.

[2015-06-15 05:04] Jean-LouisMesic commented on #58
@jean Lol, sorry to force you into this conversation, jean.

[2015-06-15 05:06] Jean-LouisMesic commented on #58
Honestly, I think we're all going to have to face it that the amount of theoretical material in this thread is just making it less likely for the feasible ideas to actually get accepted. It's too late in the game to completely change our legal system, anyway.

[2015-06-15 05:12] Jean-LouisMesic commented on #119
The Constitution is supposed to be what legislation draws its jargon from, I thought.

[2015-06-15 05:17] Jean-LouisMesic commented on #139
I don't think it'd be unreasonable, and it should be encouraged. I've always dreamed of an Assembly hall in the form of an auditorium, with an orchestra housing the Assembly, the mezzanine housing committees, guests, etc., and a second balcony level being set up like a surgical theatre, where the public can come in and look down upon the politicians. TL,DR; I think anyone should be able to flick o

[2015-06-15 05:19] terrorist96 commented on #118
My view is that owners of public property (ie a place where a pedestrian can go) should be required to secure their property if they want no arms (like if you're going to a club, there's a bouncer at the door that will stop you if you have a gun).

Owners of private property (not open to the public other than invited guests) wouldn't be affected by this.

[2015-06-15 05:22] Jean-LouisMesic commented on #118
Exactly.

We're not disagreeing. Again. Like I said. : P

[2015-06-15 05:30] terrorist96 commented on #132
My intention is to make it unconstitutional for the Assembly to pass a law that applies to everyone in Liberland except for themselves (think Obamacare).

It still needs 2/3 majority to pass.

[2015-06-15 05:35] terrorist96 commented on #16
When the government endorses a certain currency over all the others (let's say the common currencies in Liberland will be bitcoin, gold and silver coins, and miscellaneous spices) and the government demands its taxes be paid in bitcoin, it is endorsing bitcoin over the other forms of currency within the nation. This, in turn, will very likely lead to more people using bitcoin over gold/silver/etc

[2015-06-15 05:37] Jean-LouisMesic commented on #132
I thought we had that covered elsewhere, but just in case, a provision must be made.

I propose "No bill passed by the Assembly shall exclude any member of the Assembly from his or her rights as a legal person, nor shall any bill passed by the Assembly preclude nor exclude any current, future, and/or former member of the Assembly from the observance of the law and/or Constitution of the Free Repub

[2015-06-15 05:46] terrorist96 commented on #139
If @KacperZajc gives me the a-ok, I'll submit a PR

[2015-06-15 07:12] terrorist96 commented on #132
I like that. Here would be my suggested edits:

[2015-06-15 13:52] Jean-LouisMesic commented on #132
I've become concerned that with Public Administration, Public Authority, and Court of Law floating around everywhere in the Constitution, it's ambiguous as to what parts of the government are in each part specifically. Does one of these terms concern all of the government, or are they all specific pieces?

[2015-06-15 13:52] Jean-LouisMesic commented on #132
Also, @terrorist96 , if "Public Administration" is the entirety of government, then I approve of the edits.

[2015-06-15 16:08] terrorist96 commented on #132
I think public administration includes all three branches.

[2015-06-15 18:00] KacperZajc commented on #139
Debates and voting records of the Assembly should be made public;
Verdicts of all courts should be recovered and made public (deliberations of judges and juries not);
you can make it a PR

[2015-06-15 18:10] KacperZajc commented on #132
Public Administration includes all 4 branches.

What you are proposing is already covered:

§I.5. No Assembly Representative shall be excluded from the operation of any law passed by the Assembly.

Dissolution still needs 2/3 to pass, no one will be hold hostage by a small majority :)

Committees are supposed to control members of other branches of government (e.g. Clinton or Nixon testifying) but

[2015-06-15 18:14] KacperZajc commented on #119
It sets out the general rules, they are to be specified by regular laws or court interpretation.

[2015-06-15 22:11] terrorist96 commented on #132
I feel like this version:

..is stronger than the text of I.5 because that language only says laws are generally applicable to the Assembly too. However, my version disallows any law from doing such thing to begin with and includes the entire PA as opposed to the Assembly.

[2015-06-15 22:12] terrorist96 commented on #132
What if they aren't prosecuted for political reasons?

[2015-06-15 22:21] KacperZajc commented on #132
we could go with "Public Administration" instead of "Assembly" but I dont see why we should make it sound more complicated;
then the Chief Public Prosecutor would probably be impeached in a referendum, we already thought of that :)

[2015-06-15 22:25] terrorist96 commented on #132
I'd be fine with just replacing it with PA

[2015-06-15 22:29] KacperZajc commented on #132
ok

[2015-06-15 22:31] #139 closed

[2015-06-15 22:41] KacperZajc commented on #120
for trespassing see #132

[2015-06-15 22:41] #120 closed

[2015-06-15 22:41] #114 closed

[2015-06-15 22:42] #102 closed

[2015-06-15 23:39] KacperZajc commented on #125
if he saw him on the side walk probable cause would suffice;
if that was inside the house, he would need a warrant to enter the premises (violation of privacy)

[2015-06-15 23:51] KacperZajc opened #155 "sorting out 24hours arrest"
No person shall be detained randomly or without any evidence but only under specified charges, upon probable cause and by a member of the law enforcement acting openly and respecting all rights the detainee enjoys under this Constitution and any laws passed by the Assembly in accordance thereof.

Please comment below.

[2015-06-16 00:05] terrorist96 commented on #155
Yea. Also, I feel like we need to move some of the stuff specifying the violation of privacy with a warrant from III.2 to the warrant section, stipulating the specificity of warrants.

[2015-06-16 00:14] KacperZajc commented on #155
could you be more specific?

[2015-06-16 01:16] terrorist96 commented on #155
Basically something in the warrant clause stating that all warrants are to particularly describe the person, places, things, etc to be searched, seized, frozen, accessed etc. This way, we won't have to mention the specifics of a warrant, such as the suggestion given for gun free zones except for police with a warrant (that is relevant specifically to the premises and/or its owner, residents, and/o

[2015-06-16 01:50] terrorist96 opened #159 "His or her vs their"
I propose we change all instances of "his or her" to "their". This avoids the issue of transsexuals and provides greater harmony throughout the document. Thoughts?

[2015-06-16 05:57] Jean-LouisMesic commented on #132
@KacperZajc The current wording excludes the observance of the Constitution. My proposed amendment also protects public servants, making it a more fair trade-off that is more likely to survive once we flip the Government switch on.

[2015-06-16 06:18] Jean-LouisMesic commented on #155
Yea.

@terrorist96 I don't think that's relevant for this specific issue.

[2015-06-16 06:28] Jean-LouisMesic commented on #159
I've considered this, but there is the issue of plurality. I wish there was another gender-neutral pronoun that was still as specific as "his or her" in legal terminology.

[2015-06-16 06:37] Jean-LouisMesic commented on #119
What a day it will be when due process is "interpreted" or "specified" when we no longer have the pen in hand.

[2015-06-16 06:37] Jean-LouisMesic commented on #119
The less we leave to clarification and interpretation later, the better.

[2015-06-16 06:39] Jean-LouisMesic commented on #132
@terrorist96 I agree, evidence could be gathered and ignored for political reasons.

Impeachment or dissolution of the Assembly would be warranted in that situation.

[2015-06-16 06:45] Jean-LouisMesic commented on #125
Fair enough. Still, what judge is going to answer calls at 3 in the morning when there are twenty officers out every night trying to call in warrants? It would be more efficient for them to report to a supervisor who can focus on pursuing warrants for them, so they can remain vigilant rather than paying all of their attention to a dial tone.

[2015-06-16 07:13] terrorist96 commented on #159
How about `one's`

[2015-06-16 07:18] terrorist96 commented on #119
:+1:

[2015-06-16 07:19] terrorist96 commented on #125
Believe it or not, that's how it works in America (generally). 3am, need a warrant? Wake up a judge and get one.

[2015-06-16 16:49] KacperZajc commented on #159
is there any reason for the change?

[2015-06-16 16:50] KacperZajc commented on #132
@Jean-LouisMesic we changed the wording to any member or agent of the PA, does that satisfy you?

[2015-06-16 17:21] KacperZajc commented on #125
at least how it used to work in America
but definitely this is what we want to see in Liberland;
there is more than 1 judge to answer the call :)

[2015-06-16 17:28] terrorist96 commented on #159
"This avoids the issue of transsexuals and provides greater harmony throughout the document"

[2015-06-16 17:29] KacperZajc commented on #159
ok...
who are you quoting? :D

[2015-06-16 17:30] terrorist96 commented on #159
Myself, first post

[2015-06-16 17:31] KacperZajc commented on #159
ok so let's go with 'one'

[2015-06-16 17:32] terrorist96 commented on #159
I agree

[2015-06-16 18:05] #155 closed

[2015-06-16 18:05] #132 closed

[2015-06-16 18:07] KacperZajc opened #163 "The Assembly Committee"
1   One-fourth of all Assembly Representatives shall have the right to propose a resolution instituting the Assembly Committee; the resolution shall be passed with a majority of two-thirds of all Assembly Representatives.
1(1)   The Assembly Committee shall be composed of five Assembly Representatives;
1(2)   The Assembly Committee shall be established upon a suspicion of misconduct or mismanageme

[2015-06-16 18:10] #159 closed

[2015-06-16 18:26] terrorist96 commented on #163
It should be easier to set up a committee to find wrong doing.

The rest is good.

[2015-06-17 04:40] terrorist96 commented on #107
Can you please keep this open? It's a good list of ideas that can be debated. I've updated the OP

[2015-06-17 05:05] terrorist96 opened #166 "Taming prosecutors"
No law shall be passed that is patently unenforceable, with the sole intention of having that law act as a tack-on charge in a prosecution.

Also, should we forbid plea deals in the constitution or allow prosecutions to offer them?

[2015-06-17 09:49] KacperZajc commented on #166
1) your law is clearly unenforceable - it impossible to say what law will be unenforceable
2) is there something wrong with plea deals?

[2015-06-17 16:50] terrorist96 commented on #166
An unenforceable law would be something extra that a prosecutor could charge you with after already catching you breaking some other law.
Plea deals are used frequently in America to discourage people from going to trial. Something like 90+% of criminal cases never go to trial.

[2015-06-17 17:02] KacperZajc commented on #166
1) its worth considering then
2) and is it a bad thing?

[2015-06-17 17:09] terrorist96 commented on #166
It's not an inherently bad thing, but is used frequently by prosecutors to strong-arm a defendant to plead guilty to a lesser charge than for the prosecution to do their job and prove guilt beyond a reasonable doubt. It basically punishes defendants for wanting to go to trial because the option to be charged with the lesser crime is only available if you plead guilty right now.

[2015-06-19 23:33] #163 closed

[2015-06-19 23:34] #119 closed

[2015-06-20 02:32] terrorist96 opened #168 "No gag orders"
What about something saying that gag orders are repugnant to the right to free speech and shall not be implemented (unless absolutely necessary in order to protect others' rights)? Thoughts?

[2015-06-20 15:36] yopdog opened #169 "Limitations on the constitution due to PR"
Being new here, I would like to understand what limitations are there on the constitution given the efforts to become internationally recognized. I saw on a previous issue that the two sections below were removed for PR reasons alone.

§15. No law shall restrict or hamper the free and peaceful movement of persons, goods, or capital within or across the borders of the Free Republic of Liberland.

§

[2015-06-20 23:03] KacperZajc commented on #169
15) certain export limitations regarding dangerous materials, money laundering issues etc.
19) already covered by ban on victimless crimes provision and the President did not want to rub drug issues into our neighbours' faces

Im striking a balance between PR and libertarian ideas the best I can here :)

[2015-06-20 23:08] KacperZajc commented on #168
it's worth considering, any ideas?

[2015-06-21 03:21] terrorist96 commented on #168
It could be tacked onto the "no classified documents except when necessary" section.

§I.7. The Citizens of the Free Republic of Liberland shall have the access to information which relates to any aspect of the functioning of the Public Administration which is not classified; and no information shall be classified unless it is absolutely necessary for the purposes of national security; **no gag or

[2015-06-21 03:52] terrorist96 commented on #107
@KacperZajc

[2015-06-21 04:03] terrorist96 opened #170 "Removal of association provision"
* **§II.6.** No law shall mandate nor forbid any natural person of age and/or legal person to associate and/or transact with any consenting natural person of age and/or legal person.

This section was removed in order to add it to:

* **§II.17.** No law shall oblige any person to acquire any form of insurance and/or pension scheme, nor shall it provide any incentive in that respect; nor shall it m

[2015-06-21 04:16] terrorist96 opened #173 ""the Conclusions shall not bind the Chief Public Prosecutor to institute any prosecution""
Really? Why is this necessary? And I still disapprove of the 2/3 requirement to form a committee. Finding and prosecuting wrongdoing should not be encumbered.

[2015-06-21 10:14] KacperZajc commented on #170
I realised that the part about forbidding persons to transact/associate is already covered by §II.6.
and it is better to add the mandating part to another article and keep the Constitution as short as possible :)

[2015-06-21 10:17] KacperZajc commented on #173
I think if it was binding, the Committee would have too much power.
My concern is that a simple majority is what the ruling party has so it could use it to pursue its own agenda, whereas 2/3 requires other groups to join the resolution which makes it more likely to be pursuing a legitimate goal.
What do you think?

[2015-06-21 10:20] KacperZajc commented on #168
yeah this is good;
what if we make this whole provision more demanding?
any thoughts?

[2015-06-21 15:44] terrorist96 commented on #173
I'm not saying it should or shouldn't be binding, but saying explicitly that it isn't binding gives the prosecutor an excuse to not do his job. It shouldn't be included.
Since the results aren't said to be binding (or non-binding) 2/3 is unnecessary. If the results were binding and the prosecutor HAD to prosecute, then I'd understand 2/3. But this is purely fact finding. It should be easy to do so

[2015-06-21 16:04] terrorist96 commented on #168
Sure, how much more demanding? Stuff like sealed court documents?

[2015-06-21 18:51] yopdog commented on #169
Are export limitations going to be enforced by Liberland? if so, couldn't that introduce a victimless crime? Will people in Liberland be put in jail for not obeying the laws of other countries?

[2015-06-21 19:39] KacperZajc commented on #168
maybe we get rid of classified information altogether?

[2015-06-21 20:13] terrorist96 commented on #168
That'd be nice but how practical would it be? Granted we don't have a military, so there'd be less to classify. But at the same time, the government is funded by the people and keeping stuff hidden from those that are funding you is immoral. I'd be interested in hearing more arguments.

[2015-06-21 23:17] KacperZajc commented on #168
My original wording took into account potential military. But it is clear now there wont be any, so my question is whether there is anything else that should be classified? If not, we should get rid of this possibility altogether.

[2015-06-21 23:18] KacperZajc commented on #169
I hope not, hard to tell right now.
We can always change it later.

[2015-06-21 23:26] terrorist96 commented on #168
If so then that would make the whistle-blower provision unnecessary. I can't really think of anything that would be worthy of classification outside military secrets.

[2015-06-22 17:02] KacperZajc opened #175 "restating the whole bill of rights"
I want to restate the Bill of Rights. It got messy over time. First of all, we abolish this artificial distinction between Legislative restrictions and Individual rights. It was mostly grammatical. Secondly, I finally clarified all those exceptions about age, incarceration and mental health by introducing distinction between an Individual and a Person. Thirdly, I want to make General Provisions a

[2015-06-22 17:03] #170 closed

[2015-06-22 19:55] terrorist96 commented on #175
This is a lot to review. I'll take a closer look at it later on and give you my thoughts.

[2015-06-22 19:55] KacperZajc commented on #175
sure, most of the provisions are left untouched though

[2015-06-23 07:51] terrorist96 commented on #175
edits in bold:

"public office" vs "the public office"
I prefer the former; If you want the latter, it needs to be capitalized. Also need comma after office.

Either that, or capitalize "challenge"; could substitute `the` with `a`.

...renewed by another judge in accordance with ~~the~~ ordinary procedure.

I think we need to capitalize anything that is defined in the rest of the constitution too.

[2015-06-23 07:52] terrorist96 commented on #175
I spent way too long on that post

[2015-06-23 21:49] KacperZajc commented on #175
I.9) Persons is a human being; legal person is a corporation
So what is wrong with the ‘contractually bound’ formula?
II.2) I removed court order because it would have to be included in most of the provisions, it is common sense.
II.23) let’s make it pursuant everywhere, just to be consistent, it sounds fine to me
II.25) arrest and detention is the same; prosecution and tried as well; corrected ac

[2015-06-24 00:10] Jean-LouisMesic commented on #125
Fair enough. I'll relent; I still think this is terribly inefficient, and bound to cause problems, but if it's worked before, then I'll rest and trust.

[2015-06-24 00:23] Jean-LouisMesic commented on #163
Shall the committee have the right to summon citizens to give testimony?

[2015-06-24 00:29] Jean-LouisMesic commented on #166
In regard to plea deals, many innocent people see the evidence stacked against them and decide to give up and avoid trial because they don't believe anyone will find them innocent. They'd rather avoid going on to death row for a crime they didn't commit, so they say whatever the police want them to just to avoid a jury, which may or may not have acquitted them.

[2015-06-24 00:32] Jean-LouisMesic commented on #169
They're not exactly complete compromises, although I believe there is a better way to "compromise" 15 in such a way that it behaves the same, but reads well to our peers.

[2015-06-24 00:35] Jean-LouisMesic commented on #168
Classification is a major PR issue, I don't see peer governments sharing much with us without confidentiality.

Without our own army, we're going to rely on our own citizens, our police, and our neighbors for protection. Thus, PR issues are paramount to our security.

[2015-06-24 00:36] Jean-LouisMesic commented on #170
Why did you remove "consenting" again, after it was decided that it was necessary in another pull request?